<section class="biography tab" data-tab="biography" data-group="actor-tabs">
    BIOGRAPHY

    <input type="text" name="system.biography.text" data-test-resize value="{{system.biography.text}}">

</section>