<section class="nav" data-nav data-group="character">

    <button type="button" class="button nav__button" data-tab="kit" data-group="character" data-color="{{palette.primary}}">
        <span class="material-symbols-outlined">stat_0</span>
        <span class="material-symbols-outlined material-symbols-outlined--active">stat_0</span>
    </button>

    <button type="button" class="button nav__button" data-tab="biography" data-group="character" data-color="{{palette.primary}}">
        <span class="material-symbols-outlined">person</span>
        <span class="material-symbols-outlined material-symbols-outlined--active">person</span>
    </button>

    <span class="nav__current-tab" data-tab-name data-color="{{palette.secondary}}" data-color-props="border-color">
        <!-- span class="nav__current-tab--initial">k</span>it -->
    </span>

    <div class="nav__controls"></div>

</section>