// out: ../animecampaign.css

@sheet-width: 780px;
@header-height: 145px;

@display-font: 'Gloock';
@header-font: 'Philosopher';
@body-font: 'Arial';

@import "./item-sheet.less";
@import "./actor-sheet.less";

@import "./partials/character-summary.less";
@import "./partials/character-stats.less";