// main: ./animecampaign.less

.animecampaign.actor.sheet .biography {
    opacity: 1;

    .control {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-bottom: .2rem;

        label {
            margin: 0 .15rem;
            font: 700 .825rem "Libre Franklin";
        }
    }

    textarea {
        resize: none;
        overflow-y: hidden;
        min-height: 10rem;
    }

    .editor.prosemirror {
        height: 20rem;
    }
}