// main: ./animecampaign.less

.animecampaign.actor.sheet {
    min-width: 520px;
    min-height: 530px;

    form {
        overflow-y: hidden;
    }
    .scrollable {
        overflow-y: scroll;
        height: calc(100% - 6.25rem);
    }
    .tabs {
        font: bold 1rem @header-font;
        width: 26rem;
        margin: 0 auto;
        > .item.active {
            text-decoration: underline;
        }
    }
    
    .divider {
        .Divider(26rem);
        margin: .5rem auto;
    }

    .biography {
        background-color: rgba(255, 255, 255, 0.33);
        border-radius: .3rem;
        height: 100%;
        .editor {
            min-height: 4rem;
        }
        .editor.prosemirror {
            min-height: 15rem;
        }
        .editor-content {
            padding: 0.5rem;
        }
    }
}