// main: ./animecampaign.less

//* VARIABLES */
//* --------- */

@rpx: (1 / 16) * 1rem;

@character-summary-height: 6.2rem;
@feature-summary-height: 5.125rem;

@kit-controls-width: 3.25rem;
@stat-tracker-width: 4.5rem;

@feature-entry-height: 2.25rem;


//* MIXINS */
//* ------ */

#AC {
    .Border() {
        border: (1 * @rpx) solid black;
        box-shadow: rgba(0, 0, 0, 0.25) 0 (1 * @rpx);
    }
    .HeadingSkinning() {
        margin: 0;
        border: 0;
    }
    .ListSkinning() {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .ImageSkinning() {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    .Overflow() {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


//* FONT FACES */
//* ---------- */

@font-face {
    font-family: "Gloock";
    src: url("./fonts/Gloock/Gloock-Regular.ttf");
}

@font-face {
    font-family: "Philosopher";
    src: url("./fonts/Philosopher/Philosopher-Regular.ttf");
}

@font-face {
    font-family: "Philosopher";
    src: url("./fonts/Philosopher/Philosopher-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Philosopher";
    src: url("./fonts/Philosopher/Philosopher-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Philosopher";
    src: url("./fonts/Philosopher/Philosopher-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Fungka City";
    src: url("./fonts/Fungka City/fungka-city.regular.ttf");
}