// main: ./animecampaign.less

//* VARIABLES */
//* --------- */

@rpx: (1 / 16) * 1rem;

@character-sheet-height: 550px;
@character-sheet-width: 650px;

@feature-sheet-height: 550px;
@feature-sheet-width: 500px;

@character-summary-height: 6.2rem;
@feature-summary-height: 5.125rem;
@max-name-height: 3.75rem; // 60 pixels;

@stat-block-width: 26rem;

@kit-controls-width: 3.25rem;
@stat-tracker-width: 4.5rem;

@feature-entry-height: 2.25rem;

@txt-color: #1f1e1e;
@bg-color: #f4f3ed;
@ac-color: #cd3232;

@txt-color-50a: #1f1e1e80;
@bg-color-50a: #f4f3ed80;
@ac-color-50a: #cd323280;


@red-stat: #df2d48;
@blue-stat: #4d86d1;
@yellow-stat: #f1cd00;
@green-stat: #3ea35a;
@orange-stat: #ee8420;
@cyan-stat: #28d5c1;
@purple-stat: #9639cf;
@grey-stat: #807f84;

@stamina-color: #6aa84f;
@proficiency-color: #6d9eeb;
@movement-color: #a64d79;
@companionship-color: #e674af;


//* MIXINS */
//* ------ */

#AC {
    .Background() {
        background: @bg-color;
    }
    .Color(@alpha: 1) {
        @return: rgba(205, 50, 50, @alpha);
    }
    .Border() {
        border: (1 * @rpx) solid black;
        box-shadow: rgba(0, 0, 0, 0.25) 0 (1 * @rpx);
    }
    .Active() {
        background: linear-gradient(to top, #AC.Color(.5)[@return], transparent);
    }
    .HeadingSkinning() {
        margin: 0;
        border: 0;
    }
    .ListSkinning() {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .InputSkinning() {
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: transparent;
    }
    .Overflow() {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


//* FONT FACES */
//* ---------- */

//* Material Symbols Outlined

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url("./fonts/Material Symbols/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf");
}


//* Gloock

@font-face {
    font-family: "Gloock";
    src: url("./fonts/Gloock/Gloock-Regular.ttf");
}


//* Philosopher

@font-face {
    font-family: "Philosopher";
    src: url("./fonts/Philosopher/Philosopher-Regular.ttf");
}

@font-face {
    font-family: "Philosopher";
    src: url("./fonts/Philosopher/Philosopher-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Philosopher";
    src: url("./fonts/Philosopher/Philosopher-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Philosopher";
    src: url("./fonts/Philosopher/Philosopher-Italic.ttf");
    font-style: italic;
}


//* Fungka City

@font-face {
    font-family: "Fungka City";
    src: url("./fonts/Fungka City/fungka-city.regular.ttf");
}


//* Rubik Mono One
@font-face {
    font-family: "Rubik Mono One";
    src: url("./fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf");
}


//* Libre Franklin

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf");
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-ThinItalic.ttf");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-ExtraLightItalic.ttf");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-LightItalic.ttf");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-MediumItalic.ttf");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-SemiBoldItalic.ttf");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-ExtraBoldItalic.ttf");
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./fonts/Libre_Franklin/static/LibreFranklin-BlackItalic.ttf");
    font-style: italic;
    font-weight: 900;
}
