// main: ./animecampaign.less

.animecampaign.dialog .window-content {
    background: @bg-color;
    overflow: hidden;
}

.animecampaign.dialog .dialog {
    &__bg {
        opacity: 1;
    }
    &__content {
        margin: 1.25rem 0;
    
        font-family: "Libre Franklin";
        color: @txt-color;
        text-align: center;
    }
    &__button-list {
        display: flex;
        flex-wrap: nowrap;
        column-gap: .25rem;
        margin-left: .25rem;
    }
    &__button-svg {
        position: absolute;
        height: @dialog-icon-size;
        width: @dialog-icon-size;
        z-index: 1;

        &--wrapper {
            position: relative;
            top: -2.5rem;
            right: 7rem;
            pointer-events: none;
        }
    }
    &__button-icon {
        transition: fill .2s;

        font-family: "Material Symbols Outlined";
        stroke: mix(@bg-color, @txt-color, 85%);
        fill: transparent;
        font-size: 100px;
    }
    &__button:hover + .dialog__button-svg--wrapper .dialog__button-icon {
        fill: mix(@bg-color, @txt-color, 85%);
    }
}

.animecampaign.dialog .config {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
    text-align: unset;
    z-index: 6;

    font: .85rem "Libre Franklin";

    &__group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__label {
        flex: 2;

        font-weight: bold;
    }
    &__input, &__fields {
        flex: 3;
    }
    &__fields {
        display: flex;
    }
    &__notes {
        width: 100%;
        margin: .25rem 0;

        font-size: .7rem;
        color: mix(@bg-color, @txt-color, 20%);
    }
    &__hr {
        width: 100%;
        border: none;
        border-top: (1 * @rpx) solid fade(@txt-color, 25%);
    }
}

.animecampaign.dialog .config .config__input {
    border-radius: 0;
    background: fade(@txt-color, 5%);
    border-color: fade(@txt-color, 50%);

    &::placeholder {
        opacity: .66;
    }
    &:focus {
        box-shadow: none;
        outline: (2 * @rpx) fade(@ac-color, 50%) solid;
    }

    &--caps {
        text-transform: uppercase;
    }
}