// main: ./animecampaign.less

// For some reason, this is the only way to get dialogs to display that aren't DialogV2
.animecampaign.dialog.application:not([open]) {
    display: block;
}

.animecampaign.dialog {

    .Dialog__Content {
        padding: 1.25rem 0;
        
        text-align: center;
        font-family: "Libre Franklin";
    }

    .Dialog__Buttons {
        display: flex;
        gap: .5rem;
        margin-top: 1rem;
    }

    button.ACButton--Dialog {
        #ColorScheme({
            color: "txt";
        });
        #ColorScheme(@opacity: 50%, {
            border-color: "txt";
        });

        flex: 1;
        display: flex;
        justify-content: center;
        gap: .25rem;
        height: 2.5rem;
        border-radius: 2 * @rpx;
        border: (1 * @rpx) solid;

        &:hover {
            .theme-dark & {
                box-shadow: 0 0 0 (1 * @rpx) fade(@dark-txt-color, 50%);
            }
            .theme-light & {
                box-shadow: 0 0 0 (1 * @rpx) fade(@light-txt-color, 50%);
            }
        }
        &:active {
            #ColorScheme(@opacity: 50%, {
                background-color: "txt";
            })
        }
    }
    button.ACButton--Dialog .ACButton__Text {
        font: bold .9rem "Libre Franklin";
    }

}