// main: ./animecampaign.less

.animecampaign.actor.sheet .kit .feature-list .feature {
    #AC.Border();

    border-color: transparent;
    border-left-color: black;
    border-bottom-color: black;
    border-top: 0;

    .entry {
        display: flex;
        height: @feature-entry-height;
        align-items: center;

        background: linear-gradient(to right, currentColor 0%, transparent 15%);

        > * {
            color: black;
        }
        &:hover i {
            opacity: 1;
        }
    }
    .img {
        #AC.InputSkinning();

        height: @feature-entry-height;
        width: @feature-entry-height + .5rem + @rpx;

        border-left: .5rem solid black;
        border-right: (1 * @rpx) solid black;
    }
    .name {
        #AC.Overflow();
        
        width: min-content;
        flex: 1;
        padding: 0 .25rem;

        font-family: "Philosopher";
        font-size: 1.25rem;
        font-weight: bold;
    }
    .feature-controls {
        display: flex;
        width: @kit-controls-width;
        height: @feature-entry-height * .75;
        justify-content: space-evenly;

        border-left: (1 * @rpx) solid rgba(0, 0, 0, 0.25);

        i {
            opacity: .25;
        }
    }
    .feature-tracked-stat-list {
        display: flex;

        .stat {
            display: grid;
            height: @feature-entry-height * .8;
            width: @stat-tracker-width;

            border-left: (1 * @rpx) solid rgba(0, 0, 0, 0.25);
        }
        .stat-img {
            position: relative;
            left: 5 * @rpx;
            top: -4 * @rpx;

            > img {
                #AC.InputSkinning();

                height: @feature-entry-height;
                width: @feature-entry-height;
                position: absolute;
                z-index: 1;

                filter: brightness(0) saturate(100%);
                opacity: .15;
            }
        }

        .stat-numbers {
            #AC.Overflow();

            display: flex;
            flex-direction: column;
            place-self: center stretch;
            text-align: end;
            text-overflow: clip;
            z-index: 2;

            font-family: "Philosopher";
            font-size: 2rem;
            font-weight: bold;
            font-style: italic;

            > * {
                padding: 0 (4 * @rpx);
            }

            .resource-value {
                font-size: 1.7rem;
                line-height: .75;
            }
            .resource-max {
                font-size: .8rem;
                font-weight: normal;
                line-height: .75;
            }
            .label {
                position: relative;
                top: 3 * @rpx;
                padding: 0 (1 * @rpx);
                
                font-family: "Fungka City";
                font-size: 1.75rem;
                font-style: normal;
            }
        }
    }

    .expanded {
        #AC.ListSkinning();

        max-height: 12rem;
        overflow-y: scroll;
        border-top: (1 * @rpx) solid black;

        > li:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .label {
            padding: .2rem .3rem;
            font: 800 .8rem "Libre Franklin";
        }
        .text {
            margin: 0;
            padding: .3rem;
            border-top: (1 * @rpx) solid rgba(0, 0, 0, 0.15);
            border-bottom: (1 * @rpx) solid rgba(0, 0, 0, 0.3);
            box-shadow: rgba(0, 0, 0, 0.15) 0 (1 * @rpx);

            font: 500 .775rem "Libre Franklin";
        }
    }
}