// main: ./animecampaign.less

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: (24 * @rpx);  /* 24px Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    font-variation-settings: 'opsz' 48, 'GRAD' -25, 'wght' 350;
}

.animecampaign.sheet .window-content {
    background-image: none;
    background: @bg-color;
    padding: 0;

    overflow-y: hidden;
}

.animecampaign.sheet.actor {
    min-width: @character-sheet-width;
    max-width: @character-sheet-width;
    min-height: @character-sheet-height;
}

.animecampaign.sheet .background {
    position: relative;

    &__lining {
        position: absolute;
        display: grid;
        width: 100%;
        pointer-events: none;
    
        opacity: .5;
        
        > * {
            grid-area: 1 / 1 / 1 / 1;
        }
    }
}

.animecampaign.sheet .background .svg-bg {
    width: 100%;
}
.animecampaign.sheet .background .svg-text {
    width: 100%;

    font: italic 13px "Gloock";
    text-anchor: start;
    text-transform: uppercase;

    &__stroke {
        stroke-width: .5px;
        stroke-linejoin: round;
    }
    &__fill {
        fill: @bg-color;
    }
}

.animecampaign.sheet .input--shadow-out {
    transition: text-shadow .2s;

    &:hover, &:focus {
        text-shadow: (1.5 * @rpx) (1.5 * @rpx) fade(@ac-color, 50%);
    }
}

.animecampaign .button {
    #AC.InputSkinning();
    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .1rem;
    height: 2rem;
    border: (1 * @rpx) solid mix(@bg-color, @txt-color, 50%);
    margin-top: .33rem;
    transition: .075s;
    z-index: 5;

    font-family: "Libre Franklin";
    font-weight: bold;
    color: @txt-color;
    background: transparent;

    .material-symbols-outlined {
        font-size: 1.25rem;
    }
    &:hover {
        height: 2rem + .33rem;
        border-bottom-width: .33rem;
        margin-top: 0;
    }
    &:focus {
        outline: (2 * @rpx) fade(@ac-color, 50%) solid;
    }
    &:active {
        background-color: mix(@bg-color, @txt-color, 50%);
    }
}