// main: ./animecampaign.less

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: (24 * @rpx);  /* 24px Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.animecampaign.sheet .window-content {
    background-image: none;
    background: @bg-color;
    padding: 0;
}

.animecampaign.sheet .form {
    overflow-y: hidden;
}
.animecampaign.sheet .scrollable {
    overflow-y: scroll;
    height: calc(100% - 8rem);
}

.animecampaign.sheet.actor:not(.minimizing, .maximizing, .minimized) {
    min-width: @character-sheet-width;
    min-height: @character-sheet-height;
}

.animecampaign.sheet .background {
    position: relative;

    &__lining {
        position: absolute;
        display: grid;
        width: 100%;
        pointer-events: none;
    
        opacity: .5;
        
        > * {
            grid-area: 1 / 1 / 1 / 1;
        }
    }
}

.animecampaign.sheet .background .svg-bg {
    width: 100%;
}
.animecampaign.sheet .background .svg-text {
    width: 100%;

    font: italic 13px "Gloock";
    text-anchor: start;
    text-transform: uppercase;

    &__stroke {
        stroke-width: .5px;
        stroke-linejoin: round;
    }
    &__fill {
        fill: @bg-color;
    }
}

.animecampaign.sheet .input--shadow-out {
    transition: text-shadow .2s;

    &:hover, &:focus {
        text-shadow: (1.5 * @rpx) (1.5 * @rpx) fade(@ac-color, 50%);
    }
}

.animecampaign.sheet input,
.animecampaign.sheet select,
.animecampaign.sheet textarea {
    border-radius: 2 * @rpx;
}

.animecampaign.sheet input:focus,
.animecampaign.sheet select:focus {
    outline: 2px solid fade(@ac-color, 50%);
    transition: .05s
}

.animecampaign .round-button {
    #AC.InputSkinning();
    
    display: grid;
    place-items: center;
    height: 1.5rem;
    width: 1.5rem;
    border: (1 * @rpx) solid currentColor;
    border-radius: 100%;
    padding: 0;
    
    background-color: @bg-color;
    transition: .05s;

    > .material-symbols-outlined {
        font-size: 1.25rem;

        font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24;
    }
    &:hover {
        box-shadow: 0 0 0 (1 * @rpx) currentColor;
        border-color: currentColor;
        background: @bg-color;
        transition: .05s;
    }
    &:active {
        background: currentColor;
        transition: .05s;
    }
    &:focus {
        outline: (2 * @rpx) fade(@ac-color, 50%) solid;
        transition: .05s;
    }
}

.animecampaign .button {
    #AC.InputSkinning();
    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .1rem;
    height: 2rem;
    border: (1 * @rpx) solid mix(@bg-color, @txt-color, 50%);
    margin-top: .33rem;
    transition: .075s;
    z-index: 5;

    font-family: "Libre Franklin";
    font-weight: bold;
    color: @txt-color;
    background: transparent;

    .material-symbols-outlined {
        font-size: 1.25rem;

        font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24;
    }
    &:hover {
        height: 2rem + .33rem;
        border-bottom-width: .33rem;
        margin-top: 0;
    }
    &:focus {
        outline: (2 * @rpx) fade(@ac-color, 50%) solid;
    }
    &:active {
        background-color: mix(@bg-color, @txt-color, 50%);
    }
}