// main: ./animecampaign.less

.animecampaign.kit-piece-roll {
    border: 1px solid;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.4);

    header {
        display: grid;
        grid-template-columns: .4rem 1fr 7fr;
        height: fit-content;

        border-bottom: @thin-border;
    }
    .img {
        position: relative;
        top: .40rem;
        grid-column-start: 2;   
        align-self: end;
        pointer-events: none;
    }
    .name {
        grid-column-start: 3;
        margin: .3rem;
        align-self: end;

        font: 1.25rem @display-font;
        line-height: 90%;
    }
    .type {
        margin-left: 2.75rem;

        font: bold italic .75rem @body-font;
        text-transform: uppercase;
    }

    .roll {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        margin: .1rem 0;
        margin-bottom: .4rem;
        margin-left: .8rem;

        .total {
            min-width: 3.125rem;
            height: 1.82rem;
            margin-left: .5rem;
            padding: 0 .5rem;
            border: @thin-border;
            border-color: rgba(0, 0, 0, 0.5);
            border-radius: 3px;
            overflow-y: hidden;

            font: bold 1.5rem @header-font;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .formula {
            margin: 0 .3rem;
            overflow-x: hidden; // TODO think more on this. gn

            font: 1rem @header-font;
        }
    }

    .stat-img {
        position: relative;
        top: -.75rem;

        opacity: 30%;
        filter: brightness(0) saturate(100%);
        > img {
            position: absolute;
            .SquareSize(1.5rem);
            .InputSkinning();
        }
    }
    .stat-name {
        padding: .5rem .3rem 1px;
        text-transform: uppercase;
        text-align: end;
        border-right: @thin-border;
        border-color: rgba(0, 0, 0, 0.25);

        font: bold italic .75rem @body-font;
        line-height: .8;
        color: rgba(0, 0, 0, 0.6);
    }
    .stat-value {
        padding: 0 .3rem;
        width: 65%;
        
        font: bold italic 1.5rem @header-font;
        line-height: 1;

        .inline-roll {
            background-color: transparent;
            border: none;
            margin: 0;
            width: fit-content;
            i {
                scale: .8;
            }
        }
    }
    .stat-max {
        opacity: 75%;
        font: bold italic 1rem @header-font;
    }

    .sections {
        margin: .25rem;
        padding: .2rem .1rem;
        margin-top: 0;
        padding-top: 0;
        font-size: .85rem;
    }
    .section {
        border: 0;
        padding: 0;
        border-top: @thin-border;
        border-color: rgba(0, 0, 0, 0.2);
    }
    .section-label {
        padding-right: .3rem;
        font: bold italic .7rem @body-font;
        opacity: 80%;
    }
    .collapse {
        width: 0;
        position: relative;
        left: -.3rem;
        > i {
            width: 0.3rem;
        }
    }

    .markdown.section-text {
        font-family: @body-font;
        font-size: .8rem;
    }
}