// main: ./animecampaign.less

.animecampaign.kit-piece-roll {
    border: 1px solid;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.4);

    header {
        display: grid;
        grid-template-columns: .4rem 1fr 7fr;
        height: fit-content;

        border-bottom: @thin-border;
    }
    .img {
        position: relative;
        top: .40rem;
        grid-column-start: 2;   
        align-self: end;
        pointer-events: none;
    }
    .name {
        grid-column-start: 3;
        margin: .3rem;
        align-self: end;

        font: 1.25rem @display-font;
        line-height: 90%;
    }
    .type {
        margin-left: 2.75rem;

        font: bold italic .75rem @body-font;
        text-transform: uppercase;
    }

    .roll {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        margin: .1rem 0;
        margin-left: .8rem;

        .total {
            min-width: 3.125rem;
            height: 1.82rem;
            margin-left: .5rem;
            padding: 0 .5rem;
            border: @thin-border;
            border-color: rgba(0, 0, 0, 0.5);
            border-radius: 3px;
            overflow-y: hidden;

            font: bold 1.5rem @header-font;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .result {
            margin: 0 .3rem;
            overflow-x: hidden; // TODO think more on this. gn

            font: 1rem @header-font;
        }
    }

    .sections {
        margin: .25rem;
        padding: .2rem .1rem;
        font-size: .85rem;
    }
    .section {
        border: 0;
        padding: 0;
        border-top: @thin-border;
    }
    .section-name {
        padding-right: .3rem;
        font: bold italic .7rem @body-font;
    }
    .collapse {
        width: 0;
        position: relative;
        left: -.3rem;
        > i {
            width: 0.3rem;
        }
    }
}