// main: animecampaign.less

@category-header-height: 2rem;

.animecampaign.actor.sheet .kit {
    #AC.ListSkinning();

    .control {
        display: grid;
        place-items: center;
        width: 1.25rem;
    }

    .cap {
        #AC.Border();

        height: .25rem;
        width: 100%;
        margin-bottom: .4rem;

        border-top: 0;
    }

    button {
        margin-bottom: 1rem;
    }
}

.animecampaign.actor.sheet .kit .category {
    header {
        #AC.Border();

        display: flex;
        height: @category-header-height;
        align-items: center;

        > div {
            display: flex;
            flex-shrink: 0;
            align-items: center;
        }
        h2 {
            #AC.HeadingSkinning();
            #AC.Overflow();

            margin-right: 4 * @rpx;

            font-family: "Gloock";
            //font-size: 1.2rem;
            font-size: 1.2rem;
            text-transform: uppercase;

            /* &::first-letter {
                font-size: 1.5rem;
            } */
            .initial {
                font-size: 1.5rem;
                letter-spacing: -.25rem;
            }
        }
    }

    .collapse {
        flex-shrink: 0;
        width: 1.75rem;
    }

    .category-controls, .tracked-stat-list, .list-controls {
        i {
            opacity: .25;
        }
    }
    &:hover i {
        opacity: 1;
    }

    .category-controls {
        flex: 1;
        margin-top: @category-header-height * .2;
        
        .control {
            width: 1rem;
        }
        i {
            font-size: .75rem;
        }
    }

    .tracked-stat-list {
        .tracked-stat {
            display: grid;
            height: @category-header-height * .75;
            width: @stat-tracker-width;
            padding: 0 (4 * @rpx);

            border-left: (1 * @rpx) solid black;

            > * {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
        }
        .tracker-image {
            position: relative;
            top: -6 * @rpx;
            height: @category-header-height * .75;

            > img {
                #AC.InputSkinning();
    
                position: absolute;
                height: @feature-entry-height;
                width: @feature-entry-height;
                place-self: center start;
                cursor: pointer;
    
                clip-path: inset(8% 0 8% 0);
                opacity: 25%;
            }
        }
        .control.untrack {
            place-self: start end;
            position: relative;
            top: -2 * @rpx;
            left: 2 * @rpx;
            height: min-content;
            width: min-content;
            
            font-size: .75rem;
        }
        .label {
            #AC.Overflow();

            place-self: end;
            padding-top: 6 * @rpx;
            pointer-events: none;

            font-family: "Fungka City";
            line-height: .95;
            text-transform: capitalize;
        }
    }

    .list-controls {
        height: @category-header-height * .75;
        width: @kit-controls-width;
        justify-content: space-evenly;
        border-left: (1 * @rpx) solid black;
    }

    .feature-list {
        #AC.ListSkinning();

        .empty {
            padding: .25rem;
            text-align: center;

            font: 600 .75rem "Libre Franklin";
            opacity: .5;
        }
    }
    
}