// main: animecampaign.less

@category-header-height: 2rem;

//* KIT */
//* --- */

.animecampaign.actor.sheet .kit {
    #AC.ListSkinning();

    .control {
        display: grid;
        place-items: center;
        width: 1.25rem;
    }
}


//* CATEGORY */
//* -------- */

.animecampaign.actor.sheet .kit .category {
    header {
        #AC.Border();

        display: flex;
        height: @category-header-height;
        align-items: center;

        > div {
            display: flex;
            flex-shrink: 0;
            align-items: center;
        }
        h2 {
            #AC.HeadingSkinning();
            #AC.Overflow();

            padding-right: 4 * @rpx;

            font-family: "Gloock";
            font-size: 1.2rem;
            text-transform: uppercase;

            &::first-letter {
                font-size: 1.5rem;
            }
        }
    }

    .collapse {
        flex-shrink: 0;
        width: 1.75rem;
    }

    .category-controls {
        flex: 1;
        margin-top: @category-header-height * .2;
        
        .control {
            width: 1rem;
        }
        i {
            font-size: .75rem;
        }
    }

    .tracked-stat-list {
        .tracked-stat {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: @category-header-height * .75;
            width: @stat-tracker-width;
            padding: 0 (4 * @rpx);
            border-left: (1 * @rpx) solid black;

            .control {
                position: relative;
                height: min-content;
                width: min-content;
                top: 4 * @rpx;
                left: -4 * @rpx;

                align-self: flex-end;
            }
            i {
                position: absolute;

                font-size: .75rem;
            }
        }
        .label {
            #AC.Overflow();

            padding-top: 6 * @rpx;

            font-family: "Fungka City";
            line-height: .95;
            text-transform: capitalize;
        }
    }

    .list-controls {
        height: @category-header-height * .75;
        width: @kit-controls-width;
        justify-content: space-evenly;
        border-left: (1 * @rpx) solid black;
    }

    .feature-list {
        #AC.ListSkinning();
    }
}