// main: ./animecampaign.less

.animecampaign.actor.sheet {

    .Kit {
        #ListSkinning();

        flex-direction: column;
        gap: .25rem;
        margin: .5rem 0;
    }
    .Kit.active {
        display: flex;
    }

    .Category {
        .Category__Header {
            transition: height .075s;
        }
        .Category__Name {
            transition: font-size .075s;
        }
        .Category__HeaderLeft .ACButton__Icon {
            transition: rotate .075s;
        }
    }
    .Category.Category--Collapsed {

        .Category__Features, .Category__Trackers, .Category__Buttons { 
            display: none;
        }
        .Category__Header {
            height: 1.5rem;
        }
        .Category__Name {
            font-size: 1rem;
            font-style: normal;
        }

        // Collapse Button
        .Category__HeaderLeft .ACButton__Icon {
            rotate: -90deg;
        }
    }

    .Category__Header {
        #ColorScheme(@opacity: 50%, {
            border-color: "txt";
        });

        display: flex;
        height: 2rem;
        width: 100%;
        padding: 0 (1 * @rpx);
        border-bottom: (1 * @rpx) solid;
        justify-content: center;
        align-items: stretch;

        background: @override;
    }

    .Category__HeaderLeft,
    .Category__HeaderRight,
    .Category__Padding {
        flex: 1;
    }
    .Category__HeaderLeft {
        display: flex;
        padding-right: .1rem;
        justify-content: end;
        align-items: center;
        opacity: 0;
    }

    .Category:hover .Category__HeaderLeft,
    .Category:hover .Category__HeaderRight,
    .Category:hover .Category__Buttons {
        opacity: .25;
    }
    .Category__Header:hover .Category__HeaderLeft,
    .Category__Header:hover .Category__HeaderRight,
    .Category__Header:hover .Category__Buttons {
        opacity: 1;
    }
    .Category__HeaderLeft {
        justify-content: flex-end;
    }
    .Category__HeaderCenter {
        display: flex;
        width: @part-width;
        padding-right: .1rem;
    }

    .Category__Name {
        padding-right: .5rem;
        padding-top: .2rem;

        font: italic 1.33rem "Gloock";
        text-transform: uppercase;
        letter-spacing: .05rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .Category__Trackers {
        display: flex;
        align-items: center;
        margin: 0 0.1rem;
    }
    .StatTracker {
        display: flex;
        align-items: flex-end;
        width: 4rem;
        padding: .15rem;
        height: 100%;
        border-right: (1 * @rpx) solid;
    }
    .StatTracker:first-child {
        border-left: (1 * @rpx) solid;
    }
    .StatTracker.StatTracker--White {
        background-color: fade(@dark-txt-color, 5%);
        border-color: fade(@dark-txt-color, 10%);
    }
    .StatTracker.StatTracker--Black {
        background-color: fade(@light-txt-color, 5%);
        border-color: fade(@light-txt-color, 10%);
    }
    .StatTracker:nth-child(even) {
        background-color: transparent;
    }
    .StatTracker__Label {
        font: .6rem "Libre Franklin";
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .Category__Buttons {
        min-width: 3rem;
    }

    .Category__Features {
        #ListSkinning();

        display: flex;
        flex-direction: column;
        margin: .2rem 0;
        gap: .2rem;
    }

    .UncategorizedFeatures {
        display: flex;
        flex-direction: column;
        gap: .1rem;
        padding: .25rem 0;
    }
    .UncategorizedFeatures__Label {
        #ColorScheme(@opacity: 50%, {
            color: "txt";
        });
        #ColorScheme(@opacity: 25%, {
            border-color: "txt";
        });

        font: italic 0.75rem "Libre Franklin";
        width: 100%;
        padding: 0 10%;
        margin: .1rem 0;
        border-bottom: (1 * @rpx) solid;
    }
}