// main: ./animecampaign.less

.animecampaign.sheet {

    .Navigation {
        #ColorScheme(@opacity: 25%, {
            border-color: "txt";
        });

        display: flex;
        align-items: center;
        width: 100%;
        padding: .25rem @margin-width;
        margin: .33rem 0;
        border-bottom: (1 * @rpx) solid;
    }

    .Navigation__Tabs {
        display: flex;
        gap: .2rem;
    }

    .Navigation__TabName {
        flex: 1;
        padding: 0 .75rem;
        margin-top: .25rem;

        font: 1.25rem "Gloock";
    }
    .Navigation__TabNameContent {
        display: none;
    }
    .Navigation__TabNameContent.active {
        display: inline;
    }

}