// main: ./animecampaign.less

.animecampaign.ChatMessage {

    #ColorScheme({
        color: "txt";
    });
    #ColorScheme(@opacity: 95%, {
        background-color: "bg";
    });

    outline: (1 * @rpx) solid fade(@light-txt-color, 33%);
    border: (1 * @rpx) solid;
    border-radius: 2 * @rpx;
    
    font-family: "Libre Franklin";

    .ChatMessage__Summary {
        display: flex;
        align-items: end;
    }

    .ChatMessage__ImageWrapper {
        position: relative;
        left: .3rem;
        bottom: 2.25rem;
    }
    .ChatMessage__Image {
        #ColorScheme(@opacity: 75%, {
            border-color: "txt";
        });
        #ColorScheme({
            background-color: "bg";
        });

        position: absolute;
        min-height: 2.25rem;
        min-width: 2.25rem;
        max-height: 2.25rem;
        max-width: 2.25rem;
        border-width: 1 * @rpx;
    }

    .ChatMessage__Info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .ChatMessage__ImageWrapper + .ChatMessage__Info .ChatMessage__Name, 
    .ChatMessage__ImageWrapper + .ChatMessage__Info .ChatMessage__Category {
        padding-left: 3rem;
    }
    .ChatMessage__Name {
        #ColorScheme(@opacity: 50%, {
            border-color: "txt";
        });

        padding: .25rem;
        padding-bottom: .1rem;
        border-bottom: (1 * @rpx) solid;

        font: 1.25rem "Gloock";
    }
    .ChatMessage__Category {
        padding: .1rem .25rem;
        padding-bottom: none;

        font: bold .8em "Libre Franklin";
        text-transform: uppercase;
        opacity: .75;
    }

    .ChatMessage__Dice {
        margin: .25rem 0;
    }
    .ChatMessage__Result {
        display: flex;
        align-items: center;
        height: 2rem;
        margin: .35rem;
        gap: .25rem;
    }
    .ChatMessage__Total {
        #ColorScheme({
            background-color: "bg";
        });
        #ColorScheme(@opacity: 75%, {
            border-color: "txt";
        });

        border: (1 * @rpx) solid;
        border-radius: 2 * @rpx;
        padding: .1rem .25rem;
        min-width: 3rem;
        max-width: 50%;
        height: 2rem;

        font: bold 1.5rem "Philosopher";
        text-align: center;
    }
    .ChatMessage__Formula {
        #ColorScheme(@opacity: 25%, {
            border-color: "txt";
        });

        flex: 1;
        border-bottom: (1 * @rpx) solid;

        font: 500 .8rem "Libre Franklin";
        opacity: .75;
    }
    .ChatMessage__Dice .part-header {
        padding: 0 .35rem;
    }
    .ChatMessage__Dice .dice-tooltip {
        display: none;
    }


    .ChatMessage__Stats {
        #ColorScheme({
            background-color: "bg";
        });
        #ColorScheme(@opacity: 25%, {
            border-color: "txt";
        });
        #ListSkinning();

        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: .1rem .35rem;
        border: (1 * @rpx) solid;
        border-radius: (2 * @rpx);
    }
    .ChatMessage__StatEntry {
        #ColorScheme(@opacity: 25%, {
            border-color: "txt";
        });

        display: flex;
        align-items: center;
        gap: .5rem;
        height: 1.33rem;
        border-bottom: (1 * @rpx) solid;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .ChatMessage__StatEntry:nth-child(even) {
        #ColorScheme(@opacity: 10%, {
            background-color: "txt";
        });
    }
    .ChatMessage__StatEntry:last-child {
        border-bottom: none;
    }
    .ChatMessage__StatEntryTag {
        width: 40%;
        
        font: .8rem "Libre Franklin";
        text-align: end;
        text-transform: uppercase;
    }
    .ChatMessage__StatEntryDivider {
        font: .66rem "Libre Franklin";
        opacity: 50%;
    }
    .ChatMessage__StatEntryValue {
        font: bold italic 1rem "Philosopher";
    }
    .ChatMessage__StatEntryMax {
        font: italic .8rem "Philosopher";
    }
    .ChatMessage__StatEntryLabel {
        font: 1rem "Philosopher";
    }

    .ChatMessage__Content {
        padding: .1rem .5rem;
        font-size: 0.8rem;

        h1 {
            font-size: 1.15rem;
        }
        h2 {
            font-size: 1.15rem;
        }
        h3 {
            font-size: 1.1rem;
        }
        h4 {
            font-size: 1rem;
        }
        h5 {
            font-size: 1rem;
        }
        h6 {
            font-size: 1rem;
        }

        h1, h2, h3, h4, h5, h6 {
            &.Section__Header.Section__Header--Collapsed {
                font-size: .95rem;
            }
        }
    }

    .ChatMessage__Banner {
        #ColorScheme(@opacity: 50%, {
            border-color: "txt";
        });

        border-top: (1 * @rpx) solid;
        display: flex;
        align-items: center;
        padding: .1rem .35rem;
    }
    .ChatMessage__Usage {
        font: 500 .8rem "Libre Franklin";
    }
    .ChatMessage__UsageIcon {
        margin: 0 .1rem;
        font-size: .8rem;
    }
    .ChatMessage__ActionCost {
        flex: 1;
        text-align: end;

        font: bold italic .8rem "Libre Franklin";
    }

}