// main: ./animecampaign.less

.animecampaign.item.sheet .section-list {
    #AC.ListSkinning();

    textarea {
        resize: none;
        overflow-y: hidden;
    }

    .section {
        display: flex;
    }
    .section-body 
    {
        flex: 1;

        header {
            display: flex;
        }
    }
}