// main: ./animecampaign.less

.animecampaign.item.sheet .section-list {
    #AC.ListSkinning();

    textarea {
        resize: none;
        overflow-y: hidden;
    }

    .panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1rem;
    }
    .collapse i {
        font-size: .8rem;
    }
    .grip {
        font-size: .9rem;
        opacity: .8;
        cursor: grab;
    }
    .section {
        display: flex;
        padding: .2rem 0;

        &:first-child {
            padding-top: 0;
        }
    }
    .section-body {
        flex: 1;

        border-left: (1 * @rpx) solid black;
        padding: 0 .4rem;
        margin-left: .4rem;

        box-shadow: inset rgba(0, 0, 0, 0.25) (1 * @rpx) 0;

        header {
            display: flex;
            align-items: stretch;
            margin: .2rem 0;

            a {
                display: grid;
                place-items: center;
                border-bottom: (1 * @rpx) solid rgba(0, 0, 0, 0.15);

                &:last-child i {
                    margin: 0 .3rem;
                }
                i {
                    height: 100%;
                    width: 1.25rem;
                    margin-left: .4rem;
                    padding-top: .35rem;

                    text-align: center;
                }
            }
            .name {
                font-weight: 700;
            }
            .toggle-view i {
                color: rgba(0, 0, 0, 0.25);

                &.selected {
                    color: black;
                }
            }
        }
    }

    button {
        margin-top: .2rem;
        margin-bottom: 1rem;
    }

    .editor.prosemirror {
        height: 20rem;
    }
}