// main: ./animecampaign.less

.animecampaign.sheet .stat-list {
    #AC.ListSkinning();

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: .5rem .25rem;
    margin: .25rem 0 .5rem;

    &__header {
        display: flex;
        align-items: flex-end;
        gap: .25rem;
        min-height: 1.25rem;
        width: 80%;
        margin: 0 auto;
    }
    &__label {
        #AC.TinyFont();

        flex: 1;
        border-bottom: (1 * @rpx) solid @txt-color;

        vertical-align: bottom;
    }
    &__add-button {
        height: 1.25rem;
        width: 1.25rem;
        border-color: currentColor;
    }
    &__add-button:hover {
        height: 1.25rem + .33rem;
    }
    &:has(.stat-card) .stat-list__empty {
        display: none;
    }
    &__empty {
        margin: .25rem 0;

        font: 300 .75rem "Libre Franklin";
        color: fade(@txt-color, 25%);
        text-transform: uppercase;
    }
}

.animecampaign.sheet .stat-card {
    display: flex;
    flex-direction: column;
    height: @stat-card-height;
    width: @stat-card-width;
    overflow: hidden;
    border-radius: 2 * @rpx;
    border: (1 * @rpx) solid fade(@txt-color, 50%);

    background-color: @bg-color;
    color: @txt-color;

    &__header, &__footer {
        display: flex;
    }
    &__header {
        height: @stat-card-header-height;
        align-items: center;
    }
    &__footer {
        flex: 1
    }

    &__img {
        #AC.InputSkinning();

        height: @stat-card-header-height;
        width: @stat-card-header-height;
    }
    &__tag {
        #AC.Overflow();

        flex: 1;
        margin-left: .1rem;

        font: 300 .75rem "Libre Franklin";
        text-transform: uppercase;

    }
    &:has(.stat-card__img) .stat-card__tag {
        margin: 0;
    }

    &__controls {
        position: relative;
        display: flex;
        left: 2rem;
        width: 0;
        transition: .2s;
        border: (1 * @rpx) solid fade(@txt-color, 50%);
        border-right: none;
        border-top-color: transparent;
        border-bottom-left-radius: 2 * @rpx;

        > * {
            #AC.InputSkinning();
            
            display: grid;
            place-items: center;
            height: @stat-card-header-height;
            width: @stat-card-header-height;
            padding: 0;
            
            text-shadow: none;
        }
        .material-symbols-outlined {
            font-size: .8rem;
        }
    }
    &:hover .stat-card__controls {
        left: 0rem;
        width: (@stat-card-header-height * 2) + (1 * @rpx);
    }
    &__edit {
        color: @txt-color;
        background-color: @bg-color;
    }
    &__delete {
        color: @bg-color;
        background-color: @ac-color;
    }

    &__extra-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: .2rem;

        &:empty, &:has(.stat-card__color) {
            margin: 0;
        }
    }
    &__extra-field-input {
        #AC.InputSkinning();

        padding: 0;
        width: @stat-card-width * .45;
        height: 1.25rem;
        border-bottom: (1 * @rpx) solid fade(@txt-color, 25%);
        
        font: bold .85rem "Philosopher";
        color: @txt-color;
    }
    &__extra-field-label {
        #AC.TinyFont();
    }
    &__color {
        position: relative;
        height: .75rem;
        padding: .1rem .2rem;

        &--red      { color: @red-stat; }
        &--blue     { color: @blue-stat; }
        &--yellow   { color: @yellow-stat; }
        &--green    { color: @green-stat; }
        &--cyan     { color: @cyan-stat; }
        &--orange   { color: @orange-stat; }
        &--purple   { color: @purple-stat; }
        &--grey     { color: @grey-stat; }

        &--lining {
            position: absolute;
        }
    }
    &__input-list {
        display: flex;
        flex-direction: column;
    }
}
.animecampaign.sheet .stat-card__input {
    #AC.InputSkinning();

    font-family: "Philosopher";
    font-weight: bold;
    text-align: end;

    color: @txt-color;

    &--value {
        height: @stat-card-footer-height;

        font-size: 3rem;
    }
    &--numerator, &--denominator {
        width: 95%;
        padding: 0 (3 * @rpx);
        padding-right: .25rem;
        margin-left: .25rem;
    }
    &--numerator {
        height: @stat-card-footer-height * (5 / 9);

        font-size: 1.75rem;
    }
    &--denominator {
        height: @stat-card-footer-height * (4 / 9);
        border-top: (1 * @rpx) solid fade(@txt-color, 25%);

        font-size: 1.15rem;
        font-weight: normal;
    }
    &--label {
        font-size: 1.25rem;
        font-weight: normal;
        margin-top: .15rem;
        width: 100%;
        border-bottom: (1 * @rpx) solid fade(@txt-color, 25%);
    }
}

@main-stat-selectors: stam, prof, move;
@colors-primary: {
    @stam: @stam-color-primary;
    @prof: @prof-color-primary;
    @move: @move-color-primary;
}
@colors-secondary: {
    @stam: @stam-color-secondary;
    @prof: @prof-color-secondary;
    @move: @move-color-secondary;
}
@colors-txt: {
    @stam: @stam-color-txt;
    @prof: @prof-color-txt;
    @move: @move-color-txt;
}

.animecampaign.sheet.actor .main-stats {
    display: flex;
    padding-top: .5rem;
    justify-content: center;

    each(@main-stat-selectors, {
        &__@{value} {
            display: grid;
            place-items: center;
            border-radius: 3 * @rpx;

            background: linear-gradient(@colors-primary[@@value], @colors-secondary[@@value]);

            > .stat-card {
                width: @main-stat-card-width;
                border: none;
                margin: 1 * @rpx;

                color: @colors-txt[@@value]
            }
            .stat-card__input {
                color: @colors-txt[@@value]
            }
            .input--shadow-out:hover, .input--shadow-out:focus {
                text-shadow: (1.5 * @rpx) (1.5 * @rpx) fade(@colors-secondary[@@value], 50%);
            }
        }
    });

    &__stam {
        &, .stat-card {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        > .stat-card { 
            margin-right: 0; 
        }
        &-bar-bg {
            display: grid;
            place-items: end;
            height: 100%;
            width: .35rem;
            border: (1 * @rpx) solid @stam-color-secondary;
            border-right: none;
        }
        &-bar-gauge {
            height: 50%;
            width: .2rem;

            background-color: @stam-color-primary;
        }
    }
    &__prof { 
        &, .stat-card {
            border-radius: 0;
        }
        > .stat-card { 
            margin: (1 * @rpx) 0; 
            border-left: (1 * @rpx) solid fade(@txt-color, 25%);
            border-right: (1 * @rpx) solid fade(@txt-color, 25%);
        }
        &-class {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 2rem;

            > * {
                text-align: center;
            }
        }
        &-class-label {
            #AC.TinyFont();

            color: fade(@prof-color-secondary, 50%);
        }
        &-class-level {
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 3 * @rpx;

            font: 1.25rem "Gloock";
            color: @bg-color;
            background-color: fade(@prof-color-secondary, 50%);
        }
    }
    &__move {
        &, .stat-card {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .stat-card { 
            margin-left: 0; 

            &__extra-field-input { 
                color: @move-color-txt;
            }
            &__extra-field-label { 
                color: fade(@move-color-txt, 50%);
            }
        }
    }
}
