// main: ./animecampaign.less

//* UNIVERSAL */
//* --------- */

@max-name-height: 3.75rem; // 60 pixels;

.animecampaign.sheet .summary {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 7fr 3fr;
    height: 6.2rem;

    .background {
        position: absolute;
        top: 30px;
        left: 0;
        height: (6.2rem * .7) + .5rem;
        width: 100%;
        z-index: 1;

        border-bottom: 1px solid black;
    }

    section {
        z-index: 2;
    }

    .profile {
        grid-column: 1 / 1;
        grid-row: 1 / -1;
        place-self: end end;
    }
    .color {
        display: none;
    }
    .img {
        height: 5.4rem;
        width: 5.4rem;
    }

    .summary-top {
        display: grid;
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        grid-template-columns: 2fr .8fr;
        align-items: end;
        padding-left: 12 * @rpx;
    }
    textarea {
        resize: none;
        overflow-y: hidden;
    }
    .facade, .name {
        font-family: "Gloock";
        line-height: 0.85;
    }
    .facade {
        position: absolute;
        height: fit-content;
        max-height: @max-name-height;
        width: calc((100% * (4/5) * (2/3)) - (4 * @rpx));
        margin: 0;
        padding: 7 * @rpx;
        overflow-wrap: break-word;
        vertical-align: bottom;
        z-index: 1;
    }
    .name {
        height: @max-name-height;
        z-index: 2;
    }
    .class {
        text-align: end;
    }
    
    .summary-bottom {
        display: flex;
        grid-row: 2 / -1;
    }
}


//* CHARACTER */
//* --------- */

.animecampaign.actor.sheet .summary {
    .name, .facade {
        font-size: 3rem;
    }
    .class {
        min-height: 0;
        height: 1rem;

        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: .9;
    }
}


//* FEATURE */
//* ------- */

.animecampaign.item.sheet .summary {
    .name, .facade {
        font-size: 2.5rem;
    }
}
