// main: ./animecampaign.less

//* GLOBAL */
//* ------ */

@max-name-height: 3.75rem; // 60 pixels;

.animecampaign.sheet .summary {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-bottom: 2 * @rpx;

    .background {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        z-index: 1;

        border-bottom: 1px solid black;
    }

    section {
        z-index: 2;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 120%;
        grid-column: 1 / 1;
        grid-row: 1 / -1;
        place-self: end end;
    }
    .color {
        #AC.InputSkinning();

        width: 100%;
        margin: 0;
        z-index: 2;

        border: none;
    }
    .img {
        #AC.Border();

        border-radius: 0;

        z-index: 3;
    }

    .summary-top {
        display: grid;
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        grid-template-columns: 2fr .8fr;
        align-items: end;
        padding-left: 4 * @rpx;
    }
    textarea {
        resize: none;
        overflow-y: hidden;
    }
    .name {
        position: absolute;
        max-height: @max-name-height;
        width: calc((100% * (4 / 5) * (2 / 2.8)) - 1rem);
        margin: 0;
        padding: 7 * @rpx;
        overflow-wrap: break-word;
        vertical-align: bottom;
        z-index: 1;

        font-family: "Gloock";
        line-height: 0.85;
    }
    .class {
        text-align: end;
        grid-column: 2 / -1;
        max-height: 4rem;
        max-width: 9rem;
        place-self: end end;
    }
    
    .summary-bottom {
        display: flex;
        grid-row: 2 / -1;
        align-items: flex-end;
        padding-left: 4 * @rpx;
        gap: 2 * @rpx;

        > * {
            height: 1.6rem;
        }
    }
    .word {
        font-family: "Philosopher";
        font-size: 1.25rem;
        font-style: italic;
        font-weight: bold;
    }
}


//* CHARACTER */
//* --------- */

.animecampaign.actor.sheet .summary {
    grid-template-rows: 7fr 3fr;
    height: @character-summary-height;

    .background {
        height: (@character-summary-height * .7) + .5rem;
    }
    .img {
        height: 5.4rem;
        width: 5.4rem;
    }
    .name {
        font-size: 3rem;
    }
    .class {
        min-height: 0;
        height: 1rem;
        
        font-weight: 800;
        line-height: .9;
    }
}


//* FEATURE */
//* ------- */

.animecampaign.item.sheet .summary {
    grid-template-rows: 2fr 1fr;
    height: @feature-summary-height;

    .background {
        height: (@feature-summary-height * (2 / 3)) + .5rem;
    }
    .img {
        height: 4.4rem;
        width: 4.4rem;
    }
    .name {
        font-size: 2.5rem;
    }
}
