// main: ./animecampaign.less

.animecampaign.sheet {

    .Summary {
        #Part();

        display: flex;
        height: @character-summary-height;
        min-height: @character-summary-height;
        margin-bottom: .25rem;
    }

    .Summary__ImageWrapper {
        display: grid;
        grid-area: 1 / 1 / -1 / -1;
        place-items: end;
        margin-bottom: .5rem;
    }
    .Summary__Image {
        width: 5.75rem;
        height: 5.75rem;
    }
    .Summary__ImageEdit {
        position: absolute;
        width: 5.75rem;
        height: 5.75rem;
        display: grid;
        place-items: end;
        grid-area: 1 / 1 / -1 / -1;
        place-self: end end;
        cursor: pointer;
    }
    .Summary__ImageEditIcon {
        #ColorScheme({
            border-color: "txt";
            color: "txt";
            background-color: "bg";
        });

        font-size: .8rem;
        padding: .1rem;
        margin: .25rem;
        border: (1 * @rpx) solid;
        border-radius: 2 * @rpx;
        transition: opacity .075s;

        opacity: 0;
    }
    .Summary__ImageEdit:hover > .Summary__ImageEditIcon {
        opacity: .75;
    }

    .Summary__Info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin: 0 .5rem;
    }

    .Summary__Name {
        #TextAreaSkinning();
        #FocusOutline();
        #ColorScheme({
            color: "txt";
        });
        #ColorScheme(@opacity: 50%, {
            border-color: "txt";
        });

        min-height: 0px;
        max-height: 70 * @rpx;
        resize: none;
        overflow-y: hidden;
        padding: .4rem 0;
        border-bottom: 1 * @rpx solid;
        border-radius: 2 * @rpx;
        
        font: 2rem "Gloock";
        line-height: .9;
    }
    .Summary__Class { 
        #InputSkinning();
        #FocusOutline();
        #ColorScheme({
            color: "txt";
        });

        height: 1.2rem;
        padding: 0;
        padding-left: 1.25rem;
        margin-bottom: .25rem;
        border-radius: 2 * @rpx;

        font: italic bold .8rem "Libre Franklin";
    }
    .Summary__Name::placeholder,
    .Summary__Class::placeholder,
    .Summary__FooterInput::placeholder {
        opacity: .5;
    }

    .Summary__InfoFooter {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
        border-radius: 2 * @rpx;

        background-color: @override;
    }
    .Summary__FooterSelect {
        #InputSkinning();
        #FocusOutline();

        height: 1.33rem;
        width: min-content;
        padding: 0;
        padding-left: .2rem;
        border-radius: 2 * @rpx;
        cursor: pointer;

        font: 600 .8rem "Libre Franklin";
        color: @override;
    }
    .Summary__FooterInput {
        #InputSkinning();
        #FocusOutline();
        #ColorScheme({
            background-color: "bg";
            color: "txt";
        });

        flex: 1;
        height: 1.33rem;
        border: 1 * @rpx solid @override;
        border-radius: 2 * @rpx;
        padding: 0 .33rem;
        
        font: bold 1rem "Philosopher";
    }

    .Summary__Buttons {
        padding-bottom: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: .25rem;
    }
    .Summary__HiddenColor {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

}

// Feature Specific Rules
.animecampaign.sheet.item {

    .Summary {
        height: @feature-summary-height;
        min-height: @feature-summary-height;
    }

    .Summary__Image {
        width: 4.75rem;
        height: 4.75rem;
    }
    .Summary__ImageEdit {
        width: 4.75rem;
        height: 4.75rem;
    }

    .Summary__Image--Null {
        display: grid;
        place-items: center;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .33rem;
    }
    .Summary__ImageIcon {
        font-size: 2rem;
    }
    .Summary__ImageEdit--Null {
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .33rem;
    }

    .Summary__Name {
        padding: .2rem 0;
        margin-bottom: .33rem;

        font: 1.75rem "Gloock";
    }
    .Summary__FooterSelect {
        width: 1.1rem;
    }
    .Summary__FooterInput {
        text-transform: uppercase;
        font: 600 .8rem "Libre Franklin";
    }

}