@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url("fonts/Material Symbols/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf");
}
@font-face {
  font-family: "Gloock";
  src: url("fonts/Gloock/Gloock-Regular.ttf");
}
@font-face {
  font-family: "Philosopher";
  src: url("fonts/Philosopher/Philosopher-Regular.ttf");
}
@font-face {
  font-family: "Philosopher";
  src: url("fonts/Philosopher/Philosopher-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Philosopher";
  src: url("fonts/Philosopher/Philosopher-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Philosopher";
  src: url("fonts/Philosopher/Philosopher-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Fungka City";
  src: url("fonts/Fungka City/fungka-city.regular.ttf");
}
@font-face {
  font-family: "Rubik Mono One";
  src: url("fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf");
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf");
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-ThinItalic.ttf");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-ExtraLightItalic.ttf");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-ExtraBoldItalic.ttf");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/Libre_Franklin/static/LibreFranklin-BlackItalic.ttf");
  font-style: italic;
  font-weight: 900;
}
.MSO {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  /* 24px Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.animecampaign.application {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.theme-dark .animecampaign.application {
  background: rgba(23, 23, 24, 0.8);
}
.theme-light .animecampaign.application {
  background: rgba(244, 243, 237, 0.8);
}
.animecampaign.sheet .window-content {
  padding: 0;
}
.animecampaign.sheet.actor:not(.minimizing, .maximizing, .minimized) {
  min-width: 600px;
  min-height: 500px;
}
.animecampaign.sheet.actor:not(.minimizing, .maximizing, .minimized) {
  min-width: 600px;
  min-height: 500px;
}
.animecampaign.sheet.item:not(.minimizing, .maximizing, .minimized) {
  min-width: 550px;
  min-height: 500px;
}
.animecampaign.sheet.item:not(.minimizing, .maximizing, .minimized) {
  min-width: 550px;
  min-height: 500px;
}
.animecampaign .Template {
  height: 100%;
}
.animecampaign .Scrollable {
  overflow-y: scroll;
  scrollbar-color: currentColor transparent;
  scrollbar-width: thin;
}
.theme-dark .animecampaign .Scrollable {
  color: #ebedf2;
}
.theme-light .animecampaign .Scrollable {
  color: #1f1e1e;
}
.animecampaign .Scrollable::-webkit-scrollbar-thumb {
  background-color: currentColor;
  border-color: currentColor;
}
.animecampaign.actor .Scrollable {
  height: calc(100% - 8.5rem);
}
.animecampaign.item .Scrollable {
  height: calc(100% - 7.5rem);
}
.animecampaign button.ACButton {
  min-height: 0;
  border-radius: 0;
  border: none;
  background: none;
  transition: none;
  display: block;
  align-items: unset;
  justify-content: unset;
  padding: 0;
  transition: outline 0.25s;
  display: grid;
  place-items: center;
  height: 1.5rem;
  width: 1.5rem;
  border: 0.0625rem solid currentColor;
  border-radius: 12.5%;
  transition: box-shadow 0.25s, background-color 0.25s;
}
.theme-dark .animecampaign button.ACButton {
  color: #ebedf2;
  border-color: #171718;
}
.theme-light .animecampaign button.ACButton {
  color: #1f1e1e;
  border-color: #f4f3ed;
}
.animecampaign button.ACButton:focus {
  outline: none;
  box-shadow: none;
}
.animecampaign button.ACButton:hover {
  transition: none;
  box-shadow: none;
}
.animecampaign button.ACButton:focus {
  outline: 0.125rem rgba(205, 50, 50, 0.5) solid;
}
.theme-dark .animecampaign button.ACButton {
  background-color: #171718;
}
.theme-light .animecampaign button.ACButton {
  background-color: #f4f3ed;
}
.animecampaign button.ACButton:hover {
  box-shadow: 0 0 0 0.0625rem currentColor;
}
.animecampaign button.ACButton:active {
  background-color: currentColor;
}
.animecampaign button.ACButton:disabled {
  opacity: 0.25;
}
.animecampaign button.ACButton .ACButton__Icon {
  font-size: 1.1rem;
}
.animecampaign button.ACButton .ACButton__Text {
  font: bold 0.9rem "Libre Franklin";
}
.animecampaign button.ACButton--Wide {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  height: 2.5rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 0.125rem;
  border: 0.0625rem solid;
}
.theme-dark .animecampaign button.ACButton--Wide {
  border-color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign button.ACButton--Wide {
  border-color: rgba(31, 30, 30, 0.5);
}
.theme-dark .animecampaign button.ACButton--Wide:hover {
  box-shadow: 0 0 0 0.0625rem rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign button.ACButton--Wide:hover {
  box-shadow: 0 0 0 0.0625rem rgba(31, 30, 30, 0.5);
}
.theme-dark .animecampaign button.ACButton--Wide:active {
  background-color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign button.ACButton--Wide:active {
  background-color: rgba(31, 30, 30, 0.5);
}
.animecampaign button.ACButton--Tab {
  position: relative;
  height: 2rem;
  width: 2rem;
  bottom: 0;
  margin-top: 0.25rem;
  border: 0.0625rem solid currentColor;
  border-radius: 6.25%;
  transition: box-shadow 0.1s, bottom 0.1s;
  box-shadow: 0 0 0 currentColor;
}
.theme-dark .animecampaign button.ACButton--Tab {
  border-color: #ebedf2;
  color: #ebedf2;
}
.theme-light .animecampaign button.ACButton--Tab {
  border-color: #1f1e1e;
  color: #1f1e1e;
}
.animecampaign button.ACButton--Tab.active {
  bottom: 0.25rem;
  box-shadow: 0 0.25rem 0 currentColor;
  text-shadow: none;
  outline: none;
}
.animecampaign button.ACButton--Inline {
  height: 1.25rem;
  width: 1.25rem;
  border: none;
}
.theme-dark .animecampaign button.ACButton--Inline {
  color: #ebedf2;
  background: #171718;
}
.theme-light .animecampaign button.ACButton--Inline {
  color: #1f1e1e;
  background: #f4f3ed;
}
.animecampaign button.ACButton--Inline:hover {
  box-shadow: none;
}
.theme-dark .animecampaign button.ACButton--Inline:hover {
  background-color: rgba(235, 237, 242, 0.25);
}
.theme-light .animecampaign button.ACButton--Inline:hover {
  background-color: rgba(31, 30, 30, 0.25);
}
.theme-dark .animecampaign button.ACButton--Inline:active {
  background-color: rgba(235, 237, 242, 0.75);
}
.theme-light .animecampaign button.ACButton--Inline:active {
  background-color: rgba(31, 30, 30, 0.75);
}
.animecampaign button.ACButton--Inline .ACButton__Icon {
  font-size: 1rem;
}
.animecampaign button.ACButton.ACButton--Delete {
  color: #f14545;
  border-color: #f14545;
}
.animecampaign button.ACButton.ACButton--Delete:hover {
  border-color: #f14545;
  background-color: #f14545;
}
.theme-dark .animecampaign button.ACButton.ACButton--Delete:hover {
  color: #ebedf2;
}
.theme-light .animecampaign button.ACButton.ACButton--Delete:hover {
  color: #1f1e1e;
}
.animecampaign button.ACButton.ACButton--White {
  color: #ebedf2;
  background: transparent;
}
.animecampaign button.ACButton.ACButton--White:hover {
  background-color: rgba(235, 237, 242, 0.25);
}
.animecampaign button.ACButton.ACButton--White:active {
  background-color: rgba(235, 237, 242, 0.75);
}
.animecampaign button.ACButton.ACButton--Black {
  color: #1f1e1e;
  background: transparent;
}
.animecampaign button.ACButton.ACButton--Black:hover {
  background-color: rgba(31, 30, 30, 0.25);
}
.animecampaign button.ACButton.ACButton--Black:active {
  background-color: rgba(31, 30, 30, 0.75);
}
.animecampaign .InlineButtonGroup {
  display: flex;
  gap: 0.05rem;
  justify-content: end;
  align-items: center;
  min-width: 1.5rem;
  padding: 0 0.125rem;
  transition: opacity 0.1s;
  opacity: 0;
}
.animecampaign button.ACButton--Rounded {
  border: 0.0625rem solid currentColor;
  border-radius: 12.5%;
}
.animecampaign button.ACButton--Circle {
  height: 1.25rem;
  width: 1.25rem;
  border: 0.0625rem solid currentColor;
  border-radius: 50%;
}
.animecampaign button.ACButton--Circle .ACButton__Icon {
  font-size: 0.85rem;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.animecampaign.sheet .Summary {
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 8.5rem;
  min-height: 8.5rem;
  margin-bottom: 0.25rem;
}
.animecampaign.sheet .Summary__ImageWrapper {
  display: grid;
  grid-area: 1 / 1 / -1 / -1;
  place-items: end;
  margin-bottom: 0.5rem;
}
.animecampaign.sheet .Summary__Image {
  width: 5.75rem;
  height: 5.75rem;
}
.animecampaign.sheet .Summary__ImageEdit {
  position: absolute;
  width: 5.75rem;
  height: 5.75rem;
  display: grid;
  place-items: end;
  grid-area: 1 / 1 / -1 / -1;
  place-self: end end;
  cursor: pointer;
}
.animecampaign.sheet .Summary__ImageEditIcon {
  font-size: 0.8rem;
  padding: 0.1rem;
  margin: 0.25rem;
  border: 0.0625rem solid;
  border-radius: 0.125rem;
  transition: opacity 0.075s;
  opacity: 0;
}
.theme-dark .animecampaign.sheet .Summary__ImageEditIcon {
  border-color: #ebedf2;
  color: #ebedf2;
  background-color: #171718;
}
.theme-light .animecampaign.sheet .Summary__ImageEditIcon {
  border-color: #1f1e1e;
  color: #1f1e1e;
  background-color: #f4f3ed;
}
.animecampaign.sheet .Summary__ImageEdit:hover > .Summary__ImageEditIcon {
  opacity: 0.75;
}
.animecampaign.sheet .Summary__Info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 0.5rem;
}
.animecampaign.sheet .Summary__Name {
  min-height: 0;
  padding: 0;
  border-radius: 0;
  background: none;
  border: none;
  transition: outline 0.25s;
  min-height: 0px;
  max-height: 4.375rem;
  resize: none;
  overflow-y: hidden;
  padding: 0.4rem 0;
  border-bottom: 0.0625rem solid;
  border-radius: 0.125rem;
  font: 2rem "Gloock";
  line-height: 0.9;
}
.animecampaign.sheet .Summary__Name:focus {
  outline: none;
  box-shadow: none;
}
.animecampaign.sheet .Summary__Name:focus {
  outline: 0.125rem rgba(205, 50, 50, 0.5) solid;
}
.theme-dark .animecampaign.sheet .Summary__Name {
  color: #ebedf2;
}
.theme-light .animecampaign.sheet .Summary__Name {
  color: #1f1e1e;
}
.theme-dark .animecampaign.sheet .Summary__Name {
  border-color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.sheet .Summary__Name {
  border-color: rgba(31, 30, 30, 0.5);
}
.animecampaign.sheet .Summary__Class {
  min-height: 0;
  border-radius: 0;
  border: none;
  background: none;
  transition: none;
  transition: outline 0.25s;
  height: 1.2rem;
  padding: 0;
  padding-left: 1.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
  font: italic bold 0.8rem "Libre Franklin";
}
.theme-dark .animecampaign.sheet .Summary__Class {
  color: #ebedf2;
  border-color: #171718;
}
.theme-light .animecampaign.sheet .Summary__Class {
  color: #1f1e1e;
  border-color: #f4f3ed;
}
.animecampaign.sheet .Summary__Class:focus {
  outline: none;
  box-shadow: none;
}
.animecampaign.sheet .Summary__Class:hover {
  transition: none;
  box-shadow: none;
}
.animecampaign.sheet .Summary__Class:focus {
  outline: 0.125rem rgba(205, 50, 50, 0.5) solid;
}
.theme-dark .animecampaign.sheet .Summary__Class {
  color: #ebedf2;
}
.theme-light .animecampaign.sheet .Summary__Class {
  color: #1f1e1e;
}
.animecampaign.sheet .Summary__Name::placeholder,
.animecampaign.sheet .Summary__Class::placeholder {
  opacity: 0.5;
}
.animecampaign.sheet .Summary__InfoFooter {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 0.125rem;
  background-color: #cd3232;
}
.animecampaign.sheet .Summary__FooterSelect {
  min-height: 0;
  border-radius: 0;
  border: none;
  background: none;
  transition: none;
  transition: outline 0.25s;
  height: 1.33rem;
  width: min-content;
  padding: 0;
  padding-left: 0.2rem;
  border-radius: 0.125rem;
  cursor: pointer;
  font: 600 0.8rem "Libre Franklin";
  color: #cd3232;
}
.theme-dark .animecampaign.sheet .Summary__FooterSelect {
  color: #ebedf2;
  border-color: #171718;
}
.theme-light .animecampaign.sheet .Summary__FooterSelect {
  color: #1f1e1e;
  border-color: #f4f3ed;
}
.animecampaign.sheet .Summary__FooterSelect:focus {
  outline: none;
  box-shadow: none;
}
.animecampaign.sheet .Summary__FooterSelect:hover {
  transition: none;
  box-shadow: none;
}
.animecampaign.sheet .Summary__FooterSelect:focus {
  outline: 0.125rem rgba(205, 50, 50, 0.5) solid;
}
.animecampaign.sheet .Summary__FooterInput {
  min-height: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  transition: none;
  transition: outline 0.25s;
  flex: 1;
  height: 1.33rem;
  border: 0.0625rem solid #cd3232;
  border-radius: 0.125rem;
  padding: 0 0.33rem;
  font: bold 1rem "Philosopher";
}
.theme-dark .animecampaign.sheet .Summary__FooterInput {
  color: #ebedf2;
  border-color: #171718;
}
.theme-light .animecampaign.sheet .Summary__FooterInput {
  color: #1f1e1e;
  border-color: #f4f3ed;
}
.animecampaign.sheet .Summary__FooterInput:focus {
  outline: none;
  box-shadow: none;
}
.animecampaign.sheet .Summary__FooterInput:hover {
  transition: none;
  box-shadow: none;
}
.animecampaign.sheet .Summary__FooterInput:focus {
  outline: 0.125rem rgba(205, 50, 50, 0.5) solid;
}
.theme-dark .animecampaign.sheet .Summary__FooterInput {
  background-color: #171718;
  color: #ebedf2;
}
.theme-light .animecampaign.sheet .Summary__FooterInput {
  background-color: #f4f3ed;
  color: #1f1e1e;
}
.animecampaign.sheet .Summary__Buttons {
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.25rem;
}
.animecampaign.sheet .Summary__HiddenColor {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.animecampaign.sheet.item .Summary {
  height: 7.5rem;
  min-height: 7.5rem;
}
.animecampaign.sheet.item .Summary__Image {
  width: 4.75rem;
  height: 4.75rem;
}
.animecampaign.sheet.item .Summary__ImageEdit {
  width: 4.75rem;
  height: 4.75rem;
}
.animecampaign.sheet.item .Summary__Image--Null {
  display: grid;
  place-items: center;
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: 0.33rem;
}
.animecampaign.sheet.item .Summary__ImageIcon {
  font-size: 2rem;
}
.animecampaign.sheet.item .Summary__ImageEdit--Null {
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: 0.33rem;
}
.animecampaign.sheet.item .Summary__Name {
  padding: 0.2rem 0;
  margin-bottom: 0.33rem;
  font: 1.75rem "Gloock";
}
.animecampaign.sheet.item .Summary__FooterSelect {
  width: 1.1rem;
}
.animecampaign.sheet.item .Summary__FooterInput {
  text-transform: capitalize;
}
.animecampaign.sheet .Stats {
  width: 80%;
  margin: 0 auto;
}
.animecampaign.sheet .Stats__MainStats {
  display: flex;
}
.animecampaign.sheet .Stats__MainStatsPadding {
  flex: 1;
  display: grid;
  place-items: end;
}
.animecampaign.sheet .StatCard {
  margin: 0 0.2rem;
  padding: 0.0625rem;
  border-radius: 0.1875rem;
  background: #cd3232;
}
.animecampaign.sheet .StatCard--Stamina {
  background: linear-gradient(#7bd554, #4cc1b9);
}
.animecampaign.sheet .StatCard--Proficiency {
  background: linear-gradient(#6d9eeb, #5f69d4);
}
.animecampaign.sheet .StatCard--Movement {
  background: linear-gradient(#bf6190, #95509e);
}
.animecampaign.sheet .StatCard__Content {
  display: flex;
  flex-direction: column;
  width: 8.75rem;
  height: 4.125rem;
  border-radius: 0.125rem;
}
.theme-dark .animecampaign.sheet .StatCard__Content {
  background-color: #171718;
}
.theme-light .animecampaign.sheet .StatCard__Content {
  background-color: #f4f3ed;
}
.animecampaign.sheet .StatCard__Header {
  display: flex;
  align-items: center;
  margin: 0.1rem 0.15rem 0;
  border-bottom: 0.0625rem solid;
}
.animecampaign.sheet .StatCard__Icon.MSO {
  font-size: 0.8rem;
  margin: 0 0.1rem;
}
.animecampaign.sheet .StatCard__Name {
  font: 0.75rem "Libre Franklin";
  text-transform: uppercase;
}
.theme-dark .animecampaign.sheet .StatCard__Name {
  color: #ebedf2;
  border-color: #ebedf2;
}
.theme-light .animecampaign.sheet .StatCard__Name {
  color: #1f1e1e;
  border-color: #1f1e1e;
}
.animecampaign.sheet .StatCard__Footer {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.4rem;
}
.animecampaign.sheet .StatCard__Input {
  min-height: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  transition: none;
  transition: outline 0.25s;
  font: bold 2.25rem "Philosopher";
  border-radius: 0.125rem;
  text-overflow: clip;
}
.theme-dark .animecampaign.sheet .StatCard__Input {
  color: #ebedf2;
  border-color: #171718;
}
.theme-light .animecampaign.sheet .StatCard__Input {
  color: #1f1e1e;
  border-color: #f4f3ed;
}
.animecampaign.sheet .StatCard__Input:focus {
  outline: none;
  box-shadow: none;
}
.animecampaign.sheet .StatCard__Input:hover {
  transition: none;
  box-shadow: none;
}
.animecampaign.sheet .StatCard__Input:focus {
  outline: 0.125rem rgba(205, 50, 50, 0.5) solid;
}
.theme-dark .animecampaign.sheet .StatCard__Input {
  color: #ebedf2;
}
.theme-light .animecampaign.sheet .StatCard__Input {
  color: #1f1e1e;
}
.animecampaign.sheet .StatCard__Input::placeholder {
  opacity: 0.5;
}
.animecampaign.sheet .StatCard__Label {
  font: 1rem "Libre Franklin";
  opacity: 0.5;
}
.theme-dark .animecampaign.sheet .StatCard__Label {
  color: #ebedf2;
}
.theme-light .animecampaign.sheet .StatCard__Label {
  color: #1f1e1e;
}
.animecampaign.sheet .StatCard__Label--Divider {
  margin: 0 0.2rem;
}
.animecampaign.sheet .StatCard__Input--StaminaValue {
  flex: 2;
  text-align: end;
}
.animecampaign.sheet .StatCard__Input--StaminaMax {
  flex: 1;
  font-size: 1.25rem;
  font-weight: normal;
}
.animecampaign.sheet .StatCard__Input--ProficiencyValue {
  text-align: end;
  padding: 0 0.3rem;
  font-size: 2.66rem;
}
.animecampaign.sheet .StatCard__Label--ClassLevel {
  height: 66%;
  width: 1.75rem;
  font: italic 1.5rem "Gloock";
  align-self: flex-end;
}
.animecampaign.sheet .StatCard__Input--Build {
  height: 50%;
  flex: 2;
  align-self: flex-end;
  font-size: 1rem;
  font-weight: normal;
}
.animecampaign.sheet .StatCard__Input--MovementValue {
  flex: 1.5;
  text-align: end;
  padding: 0 0.3rem;
  font-size: 2.66rem;
}
.animecampaign.sheet .Stats__List {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0.4rem 0;
  border-radius: 0.125rem;
  border: 0.0625rem solid;
}
.theme-dark .animecampaign.sheet .Stats__List {
  background-color: #171718;
}
.theme-light .animecampaign.sheet .Stats__List {
  background-color: #f4f3ed;
}
.theme-dark .animecampaign.sheet .Stats__List {
  border-color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.sheet .Stats__List {
  border-color: rgba(31, 30, 30, 0.5);
}
.animecampaign.sheet .StatEntry {
  display: flex;
  align-items: center;
  margin: 0 0.2rem;
  height: 2rem;
  border-bottom: 0.0625rem solid;
}
.theme-dark .animecampaign.sheet .StatEntry {
  border-color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.sheet .StatEntry {
  border-color: rgba(31, 30, 30, 0.5);
}
.animecampaign.sheet .StatEntry:last-of-type {
  border: none;
  height: 1.9375rem;
}
.animecampaign.sheet .StatEntry__InfoWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 30%;
}
.animecampaign.sheet .StatEntry__InfoWrapper > * {
  grid-area: 1 / 1 / -1 / -1;
}
.animecampaign.sheet .StatEntry__Image {
  position: relative;
  height: 2rem;
  width: 2.5rem;
  left: 1rem;
  border: none;
  background-position: center;
  object-fit: cover;
  opacity: 0.25;
}
.theme-dark .animecampaign.sheet .StatEntry__Image--CustomImage {
  filter: brightness(0) saturate(100%) invert(100%);
}
.theme-light .animecampaign.sheet .StatEntry__Image--CustomImage {
  filter: brightness(0) saturate(100%);
}
.animecampaign.sheet .StatEntry__Info {
  display: flex;
  align-items: center;
}
.animecampaign.sheet .StatEntry__Info:hover {
  cursor: grab;
}
.animecampaign.sheet .StatEntry__DragIndicator {
  font-size: 1rem;
  line-height: 1.2;
  transition: opacity 0.1s;
  opacity: 0;
}
.theme-dark .animecampaign.sheet .StatEntry__DragIndicator {
  text-shadow: 0 0 0.5rem #171718, 0 0 0.5rem #171718;
}
.theme-light .animecampaign.sheet .StatEntry__DragIndicator {
  text-shadow: 0 0 0.5rem #f4f3ed, 0 0 0.5rem #f4f3ed;
}
.animecampaign.sheet .StatEntry:hover .StatEntry__DragIndicator {
  opacity: 0.75;
}
.animecampaign.sheet .StatEntry__Color {
  position: relative;
  right: 0.2rem;
  font: italic 1.5rem "Gloock";
  text-transform: uppercase;
  line-height: 0;
  color: #cd3232;
  opacity: 0.5;
}
.animecampaign.sheet .StatEntry__Color--red {
  color: #df2d48;
}
.animecampaign.sheet .StatEntry__Color--blue {
  color: #4d86d1;
}
.animecampaign.sheet .StatEntry__Color--yellow {
  color: #f1cd00;
}
.animecampaign.sheet .StatEntry__Color--green {
  color: #3ea35a;
}
.animecampaign.sheet .StatEntry__Color--orange {
  color: #ee8420;
}
.animecampaign.sheet .StatEntry__Color--cyan {
  color: #28d5c1;
}
.animecampaign.sheet .StatEntry__Color--purple {
  color: #9639cf;
}
.animecampaign.sheet .StatEntry__Color--grey {
  color: #807f84;
}
.animecampaign.sheet .StatEntry__Tag {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.1rem 0.25rem;
  margin-left: 1rem;
  font: 0.8rem "Libre Franklin";
  text-transform: uppercase;
  text-align: end;
  text-overflow: ellipsis;
}
.theme-dark .animecampaign.sheet .StatEntry__Tag {
  color: #ebedf2;
}
.theme-light .animecampaign.sheet .StatEntry__Tag {
  color: #1f1e1e;
}
.theme-dark .animecampaign.sheet .StatEntry__Tag {
  text-shadow: 0 0 0.25rem #171718, 0 0 0.25rem #171718;
}
.theme-light .animecampaign.sheet .StatEntry__Tag {
  text-shadow: 0 0 0.25rem #f4f3ed, 0 0 0.25rem #f4f3ed;
}
.animecampaign.sheet .StatEntry__Divider {
  position: relative;
  bottom: 0.1rem;
  font: 1.5rem "Libre Franklin";
  line-height: 0;
  opacity: 0.5;
}
.animecampaign.sheet .StatEntry__Inputs {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.1rem 0.25rem;
}
.animecampaign.sheet .StatEntry__Input {
  min-height: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  transition: none;
  transition: outline 0.25s;
  height: 100%;
  padding: 0 0.2rem;
  font: bold 1.5rem "Philosopher";
  border-radius: 0.125rem;
}
.theme-dark .animecampaign.sheet .StatEntry__Input {
  color: #ebedf2;
  border-color: #171718;
}
.theme-light .animecampaign.sheet .StatEntry__Input {
  color: #1f1e1e;
  border-color: #f4f3ed;
}
.animecampaign.sheet .StatEntry__Input:focus {
  outline: none;
  box-shadow: none;
}
.animecampaign.sheet .StatEntry__Input:hover {
  transition: none;
  box-shadow: none;
}
.animecampaign.sheet .StatEntry__Input:focus {
  outline: 0.125rem rgba(205, 50, 50, 0.5) solid;
}
.theme-dark .animecampaign.sheet .StatEntry__Input {
  color: #ebedf2;
}
.theme-light .animecampaign.sheet .StatEntry__Input {
  color: #1f1e1e;
}
.animecampaign.sheet .StatEntry__Input:placeholder {
  opacity: 0.5;
}
.animecampaign.sheet .StatEntry__Input--Numerator {
  max-width: 12rem;
}
.animecampaign.sheet .StatEntry__Input--Denominator {
  flex: 0;
  min-width: 4rem;
  font-size: 1.2rem;
}
.animecampaign.sheet .StatEntry__Input--Label {
  font-weight: normal;
}
.animecampaign.sheet .StatEntry:hover .StatEntry__Buttons {
  opacity: 1;
}
.animecampaign.sheet .Navigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.25rem 10%;
  margin: 0.33rem 0;
  border-bottom: 0.0625rem solid;
}
.theme-dark .animecampaign.sheet .Navigation {
  border-color: rgba(235, 237, 242, 0.25);
}
.theme-light .animecampaign.sheet .Navigation {
  border-color: rgba(31, 30, 30, 0.25);
}
.animecampaign.sheet .Navigation__Tabs {
  display: flex;
  gap: 0.2rem;
}
.animecampaign.sheet .Navigation__TabName {
  flex: 1;
  padding: 0 0.75rem;
  margin-top: 0.25rem;
  font: 1.25rem "Gloock";
}
.animecampaign.sheet .Navigation__TabNameContent {
  display: none;
}
.animecampaign.sheet .Navigation__TabNameContent.active {
  display: inline;
}
.animecampaign.actor.sheet .Kit {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0.5rem 0;
}
.animecampaign.actor.sheet .Kit.active {
  display: flex;
}
.animecampaign.actor.sheet .Category__Header {
  display: flex;
  height: 2rem;
  width: 100%;
  padding: 0 0.0625rem;
  border-bottom: 0.0625rem solid;
  justify-content: center;
  align-items: center;
  background: #cd3232;
}
.theme-dark .animecampaign.actor.sheet .Category__Header {
  border-color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.actor.sheet .Category__Header {
  border-color: rgba(31, 30, 30, 0.5);
}
.animecampaign.actor.sheet .Category__HeaderLeft,
.animecampaign.actor.sheet .Category__HeaderRight,
.animecampaign.actor.sheet .Category__Padding {
  flex: 1;
}
.animecampaign.actor.sheet .Category__HeaderLeft {
  display: flex;
  padding-right: 0.1rem;
  justify-content: end;
  opacity: 0;
}
.animecampaign.actor.sheet .Category:hover .Category__HeaderLeft,
.animecampaign.actor.sheet .Category:hover .Category__HeaderRight,
.animecampaign.actor.sheet .Category:hover .Category__Buttons {
  opacity: 0.25;
}
.animecampaign.actor.sheet .Category__Header:hover .Category__HeaderLeft,
.animecampaign.actor.sheet .Category__Header:hover .Category__HeaderRight,
.animecampaign.actor.sheet .Category__Header:hover .Category__Buttons {
  opacity: 1;
}
.animecampaign.actor.sheet .Category__HeaderLeft {
  justify-content: flex-end;
}
.animecampaign.actor.sheet .Category__HeaderCenter {
  display: flex;
  width: 80%;
  padding-right: 0.05rem;
}
.animecampaign.actor.sheet .Category__Name {
  margin-right: 0.5rem;
  padding-top: 0.2rem;
  font: italic 1.33rem "Gloock";
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.animecampaign.actor.sheet .Category__Features {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0.2rem 0;
  gap: 0.1rem;
}
.animecampaign.actor.sheet .FeatureEntry {
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 2rem;
  border: 0.0625rem solid;
  border-left: 0.625rem solid;
  border-radius: 0.125rem;
}
.animecampaign.actor.sheet .FeatureEntry__Info {
  display: flex;
  width: 100%;
  align-items: center;
}
.theme-dark .animecampaign.actor.sheet .FeatureEntry__Info {
  background-color: #171718;
  color: #ebedf2;
}
.theme-light .animecampaign.actor.sheet .FeatureEntry__Info {
  background-color: #f4f3ed;
  color: #1f1e1e;
}
.animecampaign.actor.sheet .FeatureEntry__ImageWrapper {
  display: grid;
  place-items: center;
}
.animecampaign.actor.sheet .FeatureEntry__Image {
  min-height: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  transition: none;
  grid-area: 1 / 1 / -1 / -1;
  height: 1.875rem;
  width: 1.875rem;
  margin-right: 0.2rem;
}
.theme-dark .animecampaign.actor.sheet .FeatureEntry__Image {
  color: #ebedf2;
  border-color: #171718;
}
.theme-light .animecampaign.actor.sheet .FeatureEntry__Image {
  color: #1f1e1e;
  border-color: #f4f3ed;
}
.animecampaign.actor.sheet .FeatureEntry__Image:focus {
  outline: none;
  box-shadow: none;
}
.animecampaign.actor.sheet .FeatureEntry__Image:hover {
  transition: none;
  box-shadow: none;
}
.animecampaign.actor.sheet .FeatureEntry__Image--Null {
  display: grid;
  place-items: center;
}
.animecampaign.actor.sheet .FeatureEntry__ImageIcon {
  font-size: 1rem;
}
.animecampaign.actor.sheet .FeatureEntry__Roll {
  position: relative;
  right: 0.1rem;
  grid-area: 1 / 1 / -1 / -1;
  font-size: 1rem;
  padding: 0.1rem;
  border: 0.0625rem solid;
  border-radius: 0.125rem;
  cursor: pointer;
  transition: opacity 0.075s;
  opacity: 0;
}
.theme-dark .animecampaign.actor.sheet .FeatureEntry__Roll {
  border-color: #ebedf2;
  color: #ebedf2;
  background-color: #171718;
}
.theme-light .animecampaign.actor.sheet .FeatureEntry__Roll {
  border-color: #1f1e1e;
  color: #1f1e1e;
  background-color: #f4f3ed;
}
.animecampaign.actor.sheet .FeatureEntry__ImageWrapper:hover .FeatureEntry__Roll {
  opacity: 0.75;
}
.animecampaign.actor.sheet .FeatureEntry__Name {
  display: flex;
  gap: 0.1rem;
  width: fit-content;
  padding: 0 0.2rem;
  border-radius: 0.125rem;
  font: bold 1.2rem "Philosopher";
}
.animecampaign.actor.sheet .FeatureEntry__Name .ACButton__Icon {
  width: 0.75rem;
}
.animecampaign.actor.sheet .FeatureEntry__CollapseIcon {
  opacity: 0;
  transition: opacity 0.075s;
}
.animecampaign.actor.sheet .FeatureEntry__StatTrackers {
  flex: 1;
  display: flex;
}
.animecampaign.actor.sheet .FeatureEntry:hover .FeatureEntry__CollapseIcon,
.animecampaign.actor.sheet .FeatureEntry:hover .FeatureEntry__Buttons {
  opacity: 1;
}
.animecampaign.actor.sheet .UncategorizedFeatures {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.25rem 0;
}
.animecampaign.actor.sheet .UncategorizedFeatures__Label {
  font: italic 0.75rem "Libre Franklin";
  width: 100%;
  padding: 0 10%;
  margin: 0.1rem 0;
  border-bottom: 0.0625rem solid;
}
.theme-dark .animecampaign.actor.sheet .UncategorizedFeatures__Label {
  color: rgba(235, 237, 242, 0.5);
  border-color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.actor.sheet .UncategorizedFeatures__Label {
  color: rgba(31, 30, 30, 0.5);
  border-color: rgba(31, 30, 30, 0.5);
}
.animecampaign.dialog.application:not([open]) {
  display: block;
}
.animecampaign.dialog .Dialog__Navigation {
  display: flex;
  padding-bottom: 0.25rem;
  border-bottom: 0.0625rem solid;
}
.theme-dark .animecampaign.dialog .Dialog__Navigation {
  border-color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.dialog .Dialog__Navigation {
  border-color: rgba(31, 30, 30, 0.5);
}
.animecampaign.dialog .Dialog__NavigationTabs {
  display: flex;
  gap: 0.2rem;
}
.animecampaign.dialog .ACButton--DialogTab {
  width: 1.75rem;
  height: 1.75rem;
}
.theme-dark .animecampaign.dialog .ACButton--DialogTab {
  border-color: rgba(235, 237, 242, 0.5);
  color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.dialog .ACButton--DialogTab {
  border-color: rgba(31, 30, 30, 0.5);
  color: rgba(31, 30, 30, 0.5);
}
.theme-dark .animecampaign.dialog .ACButton--DialogTab.active {
  border-color: #ebedf2;
  color: #ebedf2;
}
.theme-light .animecampaign.dialog .ACButton--DialogTab.active {
  border-color: #1f1e1e;
  color: #1f1e1e;
}
.animecampaign.dialog .Dialog__NavigationTabName {
  display: flex;
  align-items: end;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}
.theme-dark .animecampaign.dialog .Dialog__NavigationTabName {
  color: #ebedf2;
}
.theme-light .animecampaign.dialog .Dialog__NavigationTabName {
  color: #1f1e1e;
}
.animecampaign.dialog .Dialog__NavigationTabNameContent {
  font: 1.1rem "Gloock";
}
.animecampaign.dialog .Dialog__Content {
  padding: 1.25rem 0;
  text-align: center;
  font-family: "Libre Franklin";
}
.animecampaign.dialog .Dialog__Buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}
.animecampaign.dialog button.ACButton--Dialog {
  transition: outline 0.25s;
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  height: 2.5rem;
  border-radius: 0.125rem;
  border: 0.0625rem solid;
}
.theme-dark .animecampaign.dialog button.ACButton--Dialog {
  color: #ebedf2;
}
.theme-light .animecampaign.dialog button.ACButton--Dialog {
  color: #1f1e1e;
}
.theme-dark .animecampaign.dialog button.ACButton--Dialog {
  border-color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.dialog button.ACButton--Dialog {
  border-color: rgba(31, 30, 30, 0.5);
}
.animecampaign.dialog button.ACButton--Dialog:focus {
  outline: 0.125rem rgba(205, 50, 50, 0.5) solid;
}
.theme-dark .animecampaign.dialog button.ACButton--Dialog:hover {
  box-shadow: 0 0 0 0.0625rem rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.dialog button.ACButton--Dialog:hover {
  box-shadow: 0 0 0 0.0625rem rgba(31, 30, 30, 0.5);
}
.theme-dark .animecampaign.dialog button.ACButton--Dialog:active {
  background-color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.dialog button.ACButton--Dialog:active {
  background-color: rgba(31, 30, 30, 0.5);
}
.animecampaign.application .Config {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Libre Franklin";
}
.animecampaign.application .Config__Group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.theme-dark .animecampaign.application .Config__Group {
  color: #ebedf2;
}
.theme-light .animecampaign.application .Config__Group {
  color: #1f1e1e;
}
.animecampaign.application .Config__Label {
  flex: 2;
  font-weight: bold;
  text-align: left;
}
.animecampaign.application .Config__Fields {
  flex: 3;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.animecampaign.application input.Config__Input,
.animecampaign.application select.Config__Input {
  min-height: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  transition: none;
  transition: outline 0.25s;
  flex: 3;
  border-radius: 0.125rem;
  border: 0.0625rem solid;
  padding: 0 0.4rem;
  text-align: left;
}
.theme-dark .animecampaign.application input.Config__Input,
.theme-dark .animecampaign.application select.Config__Input {
  color: #ebedf2;
  border-color: #171718;
}
.theme-light .animecampaign.application input.Config__Input,
.theme-light .animecampaign.application select.Config__Input {
  color: #1f1e1e;
  border-color: #f4f3ed;
}
.animecampaign.application input.Config__Input:focus,
.animecampaign.application select.Config__Input:focus {
  outline: none;
  box-shadow: none;
}
.animecampaign.application input.Config__Input:hover,
.animecampaign.application select.Config__Input:hover {
  transition: none;
  box-shadow: none;
}
.theme-dark .animecampaign.application input.Config__Input,
.theme-dark .animecampaign.application select.Config__Input {
  border-color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.application input.Config__Input,
.theme-light .animecampaign.application select.Config__Input {
  border-color: rgba(31, 30, 30, 0.5);
}
.animecampaign.application input.Config__Input:focus,
.animecampaign.application select.Config__Input:focus {
  outline: 0.125rem rgba(205, 50, 50, 0.5) solid;
}
.theme-dark .animecampaign.application input.Config__Input::placeholder {
  color: rgba(235, 237, 242, 0.5);
}
.theme-light .animecampaign.application input.Config__Input::placeholder {
  color: rgba(31, 30, 30, 0.5);
}
.animecampaign.application input.Config__Input--Caps {
  text-transform: uppercase;
}
.animecampaign.application input.Config__Input--Color {
  flex: 1;
}
.animecampaign.application .Config__Notes {
  width: 100%;
  margin-bottom: 0;
  font-size: 0.75rem;
  text-align: left;
  opacity: 0.8;
}
.animecampaign.application .Config__HorizontalBreak {
  width: 100%;
  border: none;
  border-top: 0.0625rem solid;
  margin: 0.25rem 0;
  height: unset;
  color: unset;
  background-image: unset;
}
.theme-dark .animecampaign.application .Config__HorizontalBreak {
  border-color: rgba(235, 237, 242, 0.25);
}
.theme-light .animecampaign.application .Config__HorizontalBreak {
  border-color: rgba(31, 30, 30, 0.25);
}
