.animecampaign.item.sheet {
  min-width: 450px;
  min-height: 350px;
}
.animecampaign.item.sheet .background {
  position: absolute;
  height: calc(6.2rem * (5/8) + 0.8rem);
  width: 100%;
  left: 0;
  top: 30px;
  border-bottom: 1px solid black;
}
.animecampaign.item.sheet .background-input {
  height: 1.3rem;
  width: 1rem;
  position: absolute;
  left: 0px;
  top: 30px;
  border: 0;
  padding: 0;
  margin: 0;
}
.animecampaign.item.sheet .sheet-header {
  height: calc(6.2rem * (5/8) + 0.8rem);
  width: calc(80% + 6.75rem);
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 4fr 1fr;
  z-index: 2;
}
.animecampaign.item.sheet .sheet-header > * {
  z-index: 2;
}
.animecampaign.item.sheet .header-top {
  height: calc(6.2rem * (5/8) + 0.4rem);
  display: grid;
  align-self: end;
  grid-template-columns: 1fr auto;
}
.animecampaign.item.sheet .header-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.animecampaign.item.sheet .img {
  grid-row: span 2;
  height: 4.4rem;
  width: 4.4rem;
  margin-left: 1rem;
  margin-top: 1rem;
  place-self: end end;
  border: 1px solid black;
}
.animecampaign.item.sheet .name {
  place-self: end start;
  margin-left: 0.75rem;
  margin-bottom: 0.545rem;
  max-width: 95%;
  min-width: 2.25rem;
  overflow-wrap: break-word;
  font-family: 'Gloock';
  text-transform: uppercase;
  line-height: 0.85;
}
.animecampaign.item.sheet .type {
  margin-left: 0.25rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  font: italic bold 0.75rem 'Arial';
}
.animecampaign.item.sheet .sheet-body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 1.75rem;
  width: calc(80% + 6.75rem);
  max-width: 100%;
  height: 75%;
}
.animecampaign.item.sheet .stats > * {
  min-height: 4.3rem;
  width: 80%;
  min-width: 7rem;
  margin-bottom: 0.33rem;
  margin-left: auto;
  padding: 0.2rem 3%;
  border-bottom: 1px solid black;
}
.animecampaign.item.sheet .stat-label,
.animecampaign.item.sheet .stat-value {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
.animecampaign.item.sheet .stat-label {
  min-height: 1rem;
  font: bold 0.8rem 'Arial';
  line-height: 1;
  text-transform: uppercase;
}
.animecampaign.item.sheet .stat-value {
  height: 2.5rem;
  padding: 0 2%;
  font: bold 2.5rem "Philosopher";
  border-radius: 2px;
  text-align: end;
}
.animecampaign.item.sheet .stat-create {
  display: grid;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.animecampaign.item.sheet .text {
  margin-left: 0.4rem;
}
.animecampaign.item.sheet .editor {
  height: 100%;
}
.animecampaign.actor.sheet {
  min-width: 520px;
  min-height: 530px;
}
.animecampaign.actor.sheet form {
  overflow-y: hidden;
}
.animecampaign.actor.sheet .scrollable {
  overflow-y: scroll;
  height: calc(100% - 6.25rem);
}
.animecampaign.actor.sheet .background {
  position: absolute;
  height: calc(6.2rem * (5/8) + 0.8rem);
  width: 100%;
  left: 0;
  top: 30px;
  border-bottom: 1px solid black;
}
.animecampaign.actor.sheet .background-input {
  height: 1.3rem;
  width: 1rem;
  position: absolute;
  left: 0px;
  top: 30px;
  border: 0;
  padding: 0;
  margin: 0;
}
.animecampaign.actor.sheet .sheet-header {
  height: 6.2rem;
  width: calc(80% + 6.75rem);
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 7fr 3fr;
  z-index: 2;
}
.animecampaign.actor.sheet .sheet-header > * {
  z-index: 2;
}
.animecampaign.actor.sheet .header-top {
  display: grid;
  align-self: end;
  grid-template-columns: 1fr auto;
}
.animecampaign.actor.sheet .header-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.animecampaign.actor.sheet .header-graphic {
  grid-column-start: 2;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid black;
}
.animecampaign.actor.sheet .img {
  grid-row: span 2;
  height: 5.4rem;
  width: 5.4rem;
  margin-left: 1rem;
  place-self: end end;
  border: 1px solid black;
}
.animecampaign.actor.sheet .name {
  place-self: end start;
  margin-left: 0.75rem;
  margin-bottom: 0.545rem;
  max-width: 95%;
  min-width: 2.25rem;
  overflow-wrap: break-word;
  font-family: 'Gloock';
  text-transform: uppercase;
  line-height: 0.85;
}
.animecampaign.actor.sheet .class {
  place-self: end;
  text-align: end;
  max-height: calc(6.825rem * 0.7 - 0.975rem);
  max-width: 7.5rem;
  min-width: 2.25rem;
  margin-left: 0.75rem;
  margin-right: 0.375rem;
  margin-bottom: 0.375rem;
  overflow-y: hidden;
  padding: 0.1rem;
  font: 0.9rem 'Arial';
  line-height: 0.85;
}
.animecampaign.actor.sheet .type {
  width: 5.75rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  height: 1.6rem;
  padding: 0;
  flex-grow: 1;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  font: italic bold 0.75rem 'Arial';
}
.animecampaign.actor.sheet .word {
  overflow: hidden;
  height: 1.6rem;
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font: bold 1.25rem 'Philosopher';
}
.animecampaign.actor.sheet .proficiency-class {
  margin-right: 0.675rem;
  margin-left: 0.5rem;
  flex-grow: 1;
  font: 1.875rem 'Gloock';
  line-height: 0;
  transform: skew(-15deg);
}
.animecampaign.actor.sheet .stat-block {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0.2rem auto 0.25rem;
  max-width: 26rem;
}
.animecampaign.actor.sheet .stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.25rem;
  height: 4rem;
  max-width: 9rem;
  min-width: 6rem;
}
.animecampaign.actor.sheet .stat:nth-child(4n) > .stat-content {
  border-right: 1px solid black;
}
.animecampaign.actor.sheet .stat:last-child > .stat-content {
  border-right: 1px solid black;
}
.animecampaign.actor.sheet .stat-img {
  position: relative;
  top: -0.55rem;
  width: 100%;
  display: grid;
  justify-items: center;
}
.animecampaign.actor.sheet .stat-img img {
  position: absolute;
  height: 4rem;
  pointer-events: none;
  opacity: 25%;
  filter: brightness(0) saturate(100%);
  border: 0;
  z-index: 0;
}
.animecampaign.actor.sheet .stat-label {
  text-align: center;
  height: 0.75rem;
  width: 100%;
  padding: 0;
  border: 0;
  border-radius: 0;
  z-index: 1;
  font: bold 0.75rem 'Arial';
  text-transform: uppercase;
  background-color: transparent;
}
.animecampaign.actor.sheet .stat-content {
  border-left: 0.25px solid black;
  overflow-x: hidden;
}
.animecampaign.actor.sheet .stat-content .stat-single {
  font-size: 2.25rem;
}
.animecampaign.actor.sheet .stat-content > * {
  height: 2.25rem;
  width: 100%;
  font-family: 'Philosopher';
  text-align: center;
  line-height: 1;
  font-weight: bold;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}
.animecampaign.actor.sheet .empty-stats {
  height: 3.8rem;
  margin: 0.2rem 4rem;
  border-radius: 0.25rem;
  border: 2px dashed rgba(0, 0, 0, 0.66);
  opacity: 50%;
}
.animecampaign.actor.sheet .empty-stats * {
  display: grid;
  justify-items: center;
  margin: 0.5rem 0;
}
.animecampaign.actor.sheet .empty-stats * > * {
  margin: 0;
}
.animecampaign.actor.sheet .empty-stats p {
  line-height: 0;
  font: bold 0.75rem 'Arial';
  text-transform: uppercase;
}
.animecampaign.actor.sheet .create-default {
  border-right: 1px solid black;
}
.animecampaign.actor.sheet .stat-create {
  display: grid;
  align-items: center;
  margin-top: 1.2rem;
  padding-left: 0.1rem;
  height: 2.25rem;
  border-left: 0.25px solid black;
}
.animecampaign.actor.sheet {
  /* -- Styling for kit piece cards -- */
}
.animecampaign.actor.sheet .kit-piece-card {
  font-size: 16px;
  width: 100%;
  height: auto;
  margin: auto 0;
}
.animecampaign.actor.sheet .kit-piece-block {
  border: 1px;
  border-color: #3d3d3d;
  border-style: solid;
  background-color: #e9e9e9;
  padding: 4px;
  text-align: left center;
}
.animecampaign.actor.sheet .kit-piece-title {
  margin: 3px;
}
.animecampaign.actor.sheet .kit-piece-edit {
  float: right;
  margin: auto 6px;
}
.animecampaign.actor.sheet .kit-piece-delete {
  float: right;
  margin: auto 6px;
}
.animecampaign.actor.sheet .kit-piece-card .img {
  position: relative;
  float: left;
  height: auto;
  width: 1.5rem;
  margin: -3px 6px;
}
.animecampaign.actor.sheet .upgrade-list,
.animecampaign.actor.sheet .upgrade-item {
  list-style-type: none;
}
.animecampaign.actor.sheet .upgrade-item {
  height: 2rem;
  margin-bottom: 0.2rem;
  outline: pink 1px solid;
  background-color: rgba(255, 191, 0, 0.183);
}
.animecampaign.item.sheet.dialog .dialog-content,
.animecampaign.item.sheet.dialog .dialog-buttons {
  height: 3rem;
}
.animecampaign.item.sheet.dialog p,
.animecampaign.item.sheet.dialog input {
  font-family: Arial;
  height: min-content;
}
