@font-face {
  font-family: "Gloock";
  src: url("fonts/Gloock/Gloock-Regular.ttf");
}
@font-face {
  font-family: "Philosopher";
  src: url("fonts/Philosopher/Philosopher-Regular.ttf");
}
@font-face {
  font-family: "Philosopher";
  src: url("fonts/Philosopher/Philosopher-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Philosopher";
  src: url("fonts/Philosopher/Philosopher-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Philosopher";
  src: url("fonts/Philosopher/Philosopher-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Fungka City";
  src: url("fonts/Fungka City/fungka-city.regular.ttf");
}
.animecampaign.sheet form {
  overflow-y: hidden;
}
.animecampaign.sheet form .scrollable {
  overflow-y: scroll;
}
.animecampaign.actor.sheet {
  min-width: 650px;
  min-height: 530px;
}
.animecampaign.actor.sheet .scrollable {
  height: calc(100% - 6.2rem);
}
.animecampaign.item.sheet {
  min-width: 450px;
  min-height: 350px;
}
.animecampaign.item.sheet .scrollable {
  height: calc(100% - 5.125rem);
}
.animecampaign.sheet .summary {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* .color-button {
        display: none;

        position: absolute;
        > p {
            position: relative;
            height: 4rem;
            top: 16 * @rpx;
            margin: 0 (2 * @rpx);
            padding: (2 * @rpx) (4 * @rpx);
            z-index: 1;
            
            font-family: Arial, Helvetica, sans-serif;
            font-size: .7rem;
            font-weight: bold;
            border-radius: 2 * @rpx;
            color: white;
            background-color: black;
        }
    } */
}
.animecampaign.sheet .summary .background {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid black;
}
.animecampaign.sheet .summary section {
  z-index: 2;
}
.animecampaign.sheet .summary .profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 120%;
  grid-column: 1 / 1;
  grid-row: 1 / -1;
  place-self: end end;
}
.animecampaign.sheet .summary .color {
  width: 100%;
  margin: 0;
  z-index: 2;
  border: none;
}
.animecampaign.sheet .summary .img {
  z-index: 3;
}
.animecampaign.sheet .summary .summary-top {
  display: grid;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  grid-template-columns: 2fr 0.8fr;
  align-items: end;
  padding-left: 0.25rem;
}
.animecampaign.sheet .summary textarea {
  resize: none;
  overflow-y: hidden;
}
.animecampaign.sheet .summary .name {
  position: absolute;
  max-height: 3.75rem;
  width: calc((100% * (4 / 5) * (2 / 2.8)) - 1rem);
  margin: 0;
  padding: 0.4375rem;
  overflow-wrap: break-word;
  vertical-align: bottom;
  z-index: 1;
  font-family: "Gloock";
  line-height: 0.85;
}
.animecampaign.sheet .summary .class {
  text-align: end;
  grid-column: 2 / -1;
  max-height: 4rem;
}
.animecampaign.sheet .summary .summary-bottom {
  display: flex;
  grid-row: 2 / -1;
}
.animecampaign.actor.sheet .summary {
  grid-template-rows: 7fr 3fr;
  height: 6.2rem;
}
.animecampaign.actor.sheet .summary .background {
  height: 4.84rem;
}
.animecampaign.actor.sheet .summary .img {
  height: 5.4rem;
  width: 5.4rem;
}
.animecampaign.actor.sheet .summary .name {
  font-size: 3rem;
}
.animecampaign.actor.sheet .summary .class {
  min-height: 0;
  height: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 0.9;
}
.animecampaign.item.sheet .summary {
  grid-template-rows: 2fr 1fr;
  height: 5.125rem;
}
.animecampaign.item.sheet .summary .background {
  height: 3.91666667rem;
}
.animecampaign.item.sheet .summary .img {
  height: 4.4rem;
  width: 4.4rem;
}
.animecampaign.item.sheet .summary .name {
  font-size: 2.5rem;
}
.animecampaign.sheet .stat-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.animecampaign.sheet .stat-list .control {
  display: grid;
  place-items: center;
  width: 1.75rem;
}
.animecampaign.sheet .stat-list .view {
  width: 4rem;
}
.animecampaign.sheet .stat-list .stat-header {
  display: flex;
  height: 1.2rem;
  align-items: center;
  border: 0.0625rem solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625rem;
}
.animecampaign.sheet .stat-list .stat-header h2,
.animecampaign.sheet .stat-list .stat-header .label {
  margin: 0;
  border: 0;
  font-family: "Philosopher";
  font-size: 0.8rem;
  font-weight: bold;
}
.animecampaign.sheet .stat-list .stat-header h2 {
  flex: 1;
  font-size: 1rem;
  font-style: italic;
  text-transform: uppercase;
}
.animecampaign.sheet .stat-list .stat-header .label {
  text-align: center;
}
.animecampaign.sheet .stat-list .stat-header .label,
.animecampaign.sheet .stat-list .stat-header .add-stat {
  border-left: 0.0625rem solid black;
}
.animecampaign.sheet .stat-list .stat {
  display: flex;
  align-items: center;
  height: 1.75rem;
  border: 0.0625rem solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625rem;
}
.animecampaign.sheet .stat-list .stat input {
  height: 1.75rem;
}
.animecampaign.sheet .stat-list .stat .color {
  width: 1.75rem;
  padding: 0;
  appearance: none;
  border: 0;
}
.animecampaign.sheet .stat-list .stat .img {
  height: 1.75rem;
  width: 1.75rem;
}
.animecampaign.sheet .stat-list .stat .tag,
.animecampaign.sheet .stat-list .stat .content {
  flex: 1;
}
.animecampaign.sheet .stat-list .stat .content {
  display: flex;
}
.animecampaign.sheet .stat-list .stat .content > * {
  flex: 1;
}
.animecampaign.sheet .stat-list .stat .view {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.animecampaign.sheet .stat-list .selected {
  background-color: red;
}
.animecampaign.actor.sheet .kit {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.animecampaign.actor.sheet .kit .control {
  display: grid;
  place-items: center;
  width: 1.25rem;
}
.animecampaign.actor.sheet .kit .category header {
  border: 0.0625rem solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625rem;
  display: flex;
  height: 2rem;
  align-items: center;
}
.animecampaign.actor.sheet .kit .category header > div {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.animecampaign.actor.sheet .kit .category header h2 {
  margin: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 0.25rem;
  font-family: "Gloock";
  font-size: 1.2rem;
  text-transform: uppercase;
}
.animecampaign.actor.sheet .kit .category header h2::first-letter {
  font-size: 1.5rem;
}
.animecampaign.actor.sheet .kit .category .collapse {
  flex-shrink: 0;
  width: 1.75rem;
}
.animecampaign.actor.sheet .kit .category .category-controls {
  flex: 1;
  margin-top: 0.4rem;
}
.animecampaign.actor.sheet .kit .category .category-controls .control {
  width: 1rem;
}
.animecampaign.actor.sheet .kit .category .category-controls i {
  font-size: 0.75rem;
}
.animecampaign.actor.sheet .kit .category .tracked-stat-list .tracked-stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5rem;
  width: 4.5rem;
  padding: 0 0.25rem;
  border-left: 0.0625rem solid black;
}
.animecampaign.actor.sheet .kit .category .tracked-stat-list .tracked-stat > * {
  z-index: 2;
}
.animecampaign.actor.sheet .kit .category .tracked-stat-list .tracked-stat .tracker-image {
  position: relative;
  height: 0;
  top: -0.375rem;
}
.animecampaign.actor.sheet .kit .category .tracked-stat-list .tracked-stat .tracker-image img {
  border: none;
  border-radius: 0;
  box-shadow: none;
  position: absolute;
  height: 2.25rem;
  width: 2.25rem;
  z-index: 1;
  cursor: pointer;
  clip-path: inset(10% 0 10% 0);
  opacity: 75%;
}
.animecampaign.actor.sheet .kit .category .tracked-stat-list .tracked-stat .control {
  position: relative;
  height: min-content;
  width: min-content;
  top: 0.25rem;
  left: -0.25rem;
  align-self: flex-end;
}
.animecampaign.actor.sheet .kit .category .tracked-stat-list .tracked-stat i {
  position: absolute;
  font-size: 0.75rem;
}
.animecampaign.actor.sheet .kit .category .tracked-stat-list .label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 0.375rem;
  pointer-events: none;
  font-family: "Fungka City";
  line-height: 0.95;
  text-transform: capitalize;
}
.animecampaign.actor.sheet .kit .category .list-controls {
  height: 1.5rem;
  width: 3.25rem;
  justify-content: space-evenly;
  border-left: 0.0625rem solid black;
}
.animecampaign.actor.sheet .kit .category .feature-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.animecampaign.actor.sheet .kit .feature-list .feature {
  border: 0.0625rem solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625rem;
  border-color: transparent;
  border-left-color: black;
  border-bottom-color: black;
  border-top: 0;
}
.animecampaign.actor.sheet .kit .feature-list .feature .entry {
  display: flex;
  height: 2.25rem;
  align-items: center;
}
.animecampaign.actor.sheet .kit .feature-list .feature .img {
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 2.25rem;
  width: 2.8125rem;
  border-left: 0.5rem solid black;
  border-right: 0.0625rem solid black;
}
.animecampaign.actor.sheet .kit .feature-list .feature .name {
  margin: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: min-content;
  flex: 1;
  padding: 0 0.25rem;
  font-family: "Philosopher";
  font-size: 1.25rem;
  font-weight: bold;
}
.animecampaign.actor.sheet .kit .feature-list .feature .feature-controls {
  display: flex;
  width: 3.25rem;
  height: 1.6875rem;
  justify-content: space-evenly;
  border-left: 0.0625rem solid black;
}
.animecampaign.actor.sheet .kit .feature-list .feature .feature-tracked-stat-list {
  display: flex;
}
.animecampaign.actor.sheet .kit .feature-list .feature .feature-tracked-stat-list .stat {
  display: grid;
  width: 4.5rem;
}
.animecampaign.actor.sheet .kit .feature-list .feature .feature-tracked-stat-list .stat-img {
  position: relative;
  left: 0.3125rem;
}
.animecampaign.actor.sheet .kit .feature-list .feature .feature-tracked-stat-list .stat-img > img {
  border: none;
  border-radius: 0;
  box-shadow: none;
  position: absolute;
  z-index: 1;
  height: 2.25rem;
  width: 2.25rem;
}
.animecampaign.actor.sheet .kit .feature-list .feature .feature-tracked-stat-list span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  place-self: center stretch;
  padding-right: 0.375rem;
  text-align: end;
  z-index: 2;
  font-family: "Philosopher";
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}
