<ol class="detail-list tab" data-tab="details" data-group="item-tabs">
    
    
    <!-- Test -->
    <li class="detail">

        <header>

            <div class="labels">
                <label>Test</label>
                <span class="unit">&lpar;Units&rpar;</span>
            </div>

            <div class="fields">
                <label>Foo</label>
                <input type="text">

                <label>Bar</label>
                <input type="text">
            </div>

        </header>

        <p class="note">Testing Testing One Two Three!</p>

    </li>

    <li class="detail">

        <header>

            <div class="labels">
                <label>Test</label>
            </div>

            <div class="fields">
                <input type="text">
            </div>

        </header>

    </li>

</ol>