<section class="dice-roll">

    <!-- Result -->
    <div class="result">
        <span class="total">{{roll._total}}</span>
        <span class="formula">{{roll._formula}}</span>
    </div>
    
    {{{tooltip}}}

</section>