<div class="animecampaign chat roll" data-id="{{_id}}">
    
    {{log this}}

    <!-- Summary -->
    {{> 'roll-summary'}}

    <!-- Roll -->
    {{> 'roll-dice'}}

    <!-- Stats -->

    <!-- Sections -->

    <!-- Banner -->


</div>