<div class="animecampaign chat roll" data-id="{{_id}}">
    
    <!-- Summary -->
    {{> 'roll-summary'}}

    <!-- Roll -->
    {{> 'roll-dice'}}

    <!-- Stats -->
    {{> 'roll-stats'}}

    <!-- Sections -->
    {{> 'roll-sections'}}

    <!-- Banner -->
    {{> 'roll-banner'}}

</div>