<section class="summary">

    {{log this}}

    <div class="background"></div>

    <img src="{{img}}">
    
    <h2 class="name">{{name}}</h2>

    <span class="category">{{system.category}}</span>

</section>