// main: ../animecampaign.less

.animecampaign.sheet.actor .summary {
    position: relative;
    display: grid;
    height: 8rem;
    width: 100%;
    grid-template-columns: 4fr 10fr 2fr;
    grid-template-rows: 1fr;
    z-index: 5;
    
    &__img {
        #AC.InputSkinning();
        
        width: 5.75rem;
        height: 5.75rem;
        place-self: end end;
        margin: .5rem;

        background-color: currentColor;
        border: 1 * @rpx solid currentColor;
        box-shadow: (2 * @rpx) (4 * @rpx) currentColor;
    }
    &__info {
        display: grid;
        align-self: end;
    }
    &__name {
        #AC.InputSkinning();

        min-height: 0px;
        max-height: 70 * @rpx;
        resize: none;
        overflow-y: hidden;
        padding: .4rem 0;
        border-bottom: 1 * @rpx solid @txt-color;
        
        font: 2rem "Gloock";
        line-height: .9;
        color: @txt-color;
    }
    &__class {
        #AC.InputSkinning();

        height: 1.2rem;
        padding: 0;
        padding-left: 1.25rem;
        margin-bottom: .25rem;

        font: italic bold .8rem "Libre Franklin";
        color: @txt-color;
    }
    &__info-footer {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
        border-radius: 2 * @rpx;

        > * {
            #AC.InputSkinning();
            height: 1.33rem;
        }
    }
    &__type {
        font: 600 .8rem "Libre Franklin";
        padding: 0;
        padding-left: .2rem;
        cursor: pointer;
        transition: .25s;
    }
    &__word {
        font: bold 1rem "Philosopher";
        border: 1 * @rpx solid transparent;
        border-radius: 2 * @rpx;
        padding: 0 .25rem;

        background-color: @bg-color;
        color: @txt-color;
    }
}

.animecampaign.sheet.actor .summary .summary__info .label-list {
    position: relative;
    width: 3rem;
    justify-self: end;
    z-index: 4;

    > * {
        position: absolute;
        width: 100%;
        text-align: end;
        pointer-events: none;

        font: .5rem "Rubik Mono One";
    }
    &__name {
        top: -.66rem;
    }
}

.animecampaign.sheet.actor .summary .summary-control {
    position: relative;
    width: 3.25rem;
    padding-left: .25rem;
    
    &__label {
        font: .5rem "Rubik Mono One";
        text-align: end;
    }
    &__button-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: .25rem;
        padding: .25rem;
        border: (1 * @rpx) solid currentColor;
        border-left: 0; 
        border-bottom: 0; 
    }
    &__hidden-color {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    &__button {
        #AC.InputSkinning();
        
        display: grid;
        place-items: center;
        height: 1.5rem;
        width: 1.5rem;
        border: (1 * @rpx) solid currentColor;
        padding: 0;
        
        background-color: @bg-color;
        transition: .075s;

        > .material-symbols-outlined {
            font-size: 1.25rem;
        }
        &:hover {
            width: 1.5rem + .33rem;
            border-right-width: .33rem;
        }
        &:active {
            background-color: currentColor;
        }
    }
}