<form class="{{cssClass}}" autocomplete="off">

    <div class="background">
        <img src="systems/animecampaign/assets/space/moon.png">
        <svg class="flair">
            <text>CHARACTER</text>
        </svg>
    </div>
    
</form>