<div class="Template Template--Character">

    {{> "character.summary"}}

    <div class="Scrollable">

        {{> "character.stats"}}
            
        {{> "generic.nav"}}

        {{> "character.kit"}}

        <!-- section class="Effects tab" data-tab="effects" data-group="character">
            EFFECTS
        </section -->

        {{log this.system}}

        <section class="Biography tab {{tabs.biography.css}}" data-tab="biography" data-group="character">
            <prose-mirror class="ACTextEditor" name="system.description" value="{{system.description}}" toggled="true" compact="true">
                {{{enrichedDescription}}}
            </prose-mirror>
        </section>

    </div>

</div>