<div class="Template Template--Character">

    {{> "character.summary"}}

    <div class="Scrollable">

        {{> "character.stats"}}
            
        {{> "character.nav"}}

        {{> "character.kit"}}

        <!-- section class="Effects tab" data-tab="effects" data-group="character">
            EFFECTS
        </section -->

        <section class="Biography tab {{tabs.biography.css}}" data-tab="biography" data-group="character">
            BIOGRAPHY
        </section>

    </div>

</div>