<div class="parent" style="height: 100%;">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nihil sequi aspernatur voluptate. Ratione dolor libero voluptate tempora minima? Distinctio impedit asperiores corporis sequi excepturi totam nulla veritatis quae qui?</p>

    <div class="child" style="font-size: 2rem; height: 75%; overflow:scroll;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis possimus recusandae vero sequi impedit. Nemo, velit, facilis in exercitationem vel corrupti neque, labore dolor dolorem perspiciatis maxime quidem tempora modi.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod voluptates quas numquam harum laborum. Itaque molestias illum, ad est tempora, voluptas nobis aperiam iure, rerum et possimus unde ipsa quia.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, debitis? Recusandae, exercitationem nihil aliquid, magnam fugit accusantium sapiente laudantium magni quidem qui modi vel, voluptatum dicta? Dolores laborum aperiam facilis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, quibusdam temporibus dolores accusamus laboriosam laudantium aspernatur suscipit molestias asperiores. Fuga adipisci inventore quo, perspiciatis quidem ipsum sint molestiae! Itaque, molestias?
        
        <button type="button" data-action="onFeatureAdd">add</button>
    </div>

</div>