<table class=".stat-block">
    <tr class=".stat-labels">
        <th>{{localize config.statLabels.stamina }}</th>
        <th>{{localize config.statLabels.proficiency }}</th>
        <th>{{localize config.statLabels.movement }}</th>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
</table>