<nav class="flexrow tabs" data-group="primary-tabs">
    <a class="item" data-group="primary-tabs" data-tab="kit">{{ localize config.navigationLabels.kit }}</a>
    <a class="item" data-group="primary-tabs" data-tab="upgrades">{{ localize config.navigationLabels.upgrades }}</a>
    <a class="item" data-group="primary-tabs" data-tab="biography">{{ localize config.navigationLabels.biography }}</a>
</nav>
