<nav class="flexrow">
    <a data-tab="kit">{{ localize config.navigationLabels.kit }}</a>
    <a data-tab="proficiency">{{ localize config.navigationLabels.proficiency }}</a>
    <a data-tab="biography">{{ localize config.navigationLabels.biography }}</a>
</nav>