<div class="kit-piece-card">
    <div>
        <p class="kit-piece-name">{{name}}</p>
        <a class="kit-piece-delete" title="{{localize config.kitText.addkitpiece}}" data-id={{id}}>
            <i class="fas fa-trash-can-xmark"></i>
        </a>  
    </div>
</div>