<form class="{{cssClass}}" autocomplete="off">
    <!-- Summary -->
    {{> "systems/animecampaign/templates/partials/summary.hbs"}}

    <!-- Basic Stats -->
    {{> "systems/animecampaign/templates/partials/main-stats.hbs"}}

    <!-- Color Stats -->
    {{> "systems/animecampaign/templates/partials/stat-list.hbs"}}

</form>