<form class="{{cssClass}} " autocomplete="off">
    {{> "systems/animecampaign/templates/sheets/partials/character-summary.hbs"}}

    {{> "systems/animecampaign/templates/sheets/partials/character-stats.hbs"}}

    {{> "systems/animecampaign/templates/sheets/partials/character-navigation.hbs"}}

    <section class="content">
        <div class="tab" data-group="primary-tabs" data-tab="kit">HEY!!! IM THE KIT</div>
        <div class="tab" data-group="primary-tabs" data-tab="upgrades">HEY!!! IM THE UPGRADES</div>
        <div class="tab" data-group="primary-tabs" data-tab="biography">HEY!!! IM THE BIOGRAPHY</div>
    </section>
    
    <!-- 
    Hey Sunny (and Zanza too)!! Past Sunny here.

    The character summary is done, next step is to just get the
    stat blocks done. Maybe with the ability to add stats too. We shall see.
    -->

    <p>{{localize config.test}}</p>
</form>