<form class="{{cssClass}}" autocomplete="off">
    <!-- Summary -->
    {{> "systems/animecampaign/templates/partials/summary.hbs"}}

    <!-- Main Stats -->
    {{> "systems/animecampaign/templates/partials/main-stats.hbs"}}

    <!-- Color Stats -->
    {{> "systems/animecampaign/templates/partials/color-stats.hbs"}}

</form>