<form class="{{cssClass}}" autocomplete="off">
    <!-- Summary -->
    {{~> "summary"}}

    <section class="scrollable" data-scrollable>
        <!-- Main Stats -->
        {{> "main-stats"}}

        <!-- Color Stats -->
        {{> "stat-list"}}

        <!-- Navigation -->
        {{> "nav"}}

        <div data-content>

            <!-- Biography -->
            {{> "biography"}}
            
            <!-- Kit -->
            {{> "kit"}}

        </div>

    </section>

</form>