<form class="{{cssClass}}" autocomplete="off">
    <!-- Summary -->
    {{~> "summary"}}

    <section class="scrollable" data-scrollable>
        <!-- Main Stats -->
        {{> "main-stats"}}

        <!-- Color Stats -->
        {{> "stat-list"}}

        <!-- Navigation -->
        {{> "nav"}}

        <div data-content>

            <!-- Biography -->
            {{~> "biography"}}
            
            {{#unless limited}}
                <!-- Kit -->
                {{> "kit"}}
            {{/unless}}

        </div>

        {{log this}}

    </section>

</form>