<form class="{{cssClass}}" autocomplete="off">
    <!-- Summary -->
    {{~> "summary"}}

    <section class="scrollable">
        <!-- Main Stats -->
        {{> "main-stats"}}

        <!-- Color Stats -->
        {{> "stat-list"}}

        <!-- Kit -->
        {{> "kit"}}

    </section>

</form>