<form class="{{cssClass}} " autocomplete="off">
    {{> "systems/animecampaign/templates/sheets/partials/character-summary.hbs"}}

    {{> "systems/animecampaign/templates/sheets/partials/character-stats.hbs"}}
    <!-- 
    Hey Sunny (and Zanza too)!! Past Sunny here.

    The character summary is done, next step is to just get the
    stat blocks done. Maybe with the ability to add stats too. We shall see.
    -->

    <p>{{localize config.test}}</p>
</form>