<form class="{{cssClass}}" autocomplete="off">
    <!-- Summary -->
    {{> "summary"}}
    
    <section class="scrollable">
        <!-- Stats -->
        {{> "stat-list"}}

        <!-- Navigation -->
        {{> "nav"}}

        <!-- Sections -->
        {{~> "sections"}}
    
    <section></section>

</form>