<form class="{{cssClass}}" autocomplete="off">
    <!-- Summary -->
    {{> "summary"}}
    
    <section class="scrollable" data-scrollable>
        <!-- Stats -->
        {{> "stat-list"}}

        <!-- Navigation -->
        {{> "nav"}}

        <div data-content>

            <!-- Sections -->
            {{~> "sections"}}

            {{#unless limited}}
                <!-- Details -->
                {{~> "details"}}
            {{/unless}}
            
        </div>
    
    <section></section>

</form>