<form class="{{cssClass}}" autocomplete="off">

    <div class="form-group">
        <label>Image</label>
        <div class="form-fields">
            {{ filePicker type="image" target="stat.img" }}
            <input class="image" type="text" name="stat.img" value="{{ stat.img }}">
        </div>
    </div>

</form>