// out: false

/*.animecampaign.actor.sheet {
    .stat-block {
        margin: .75rem auto;
        height: 5rem;
        width: auto;

        border: 0;
        background-color: transparent;
    }
    .stat-labels > * {
        height: 0.75rem;
        margin: 0;
        padding: 0;
        width: 9rem;
        > * {
            height: .75rem;
            padding: 0;
            border: 0;

            font: bold .75rem 'Arial';
            text-transform: uppercase;
            background-color: transparent;
        }
    }
    .stat-containers > * {
        border-right: 1px solid black;
        border-left: 1px solid black;
        background-color: rgba(0, 0, 0, 0.0350);
    }
    .divider {
        margin: 0 auto;
        width: 55%;

        border-top: 1px solid black;
    }
    .stat-primary, .stat-secondary, .stat-single {
        padding: 0;
        text-align: center;
        width: 100%;

        font-family: 'Philosopher';
        line-height: 1;
        font-weight: bold;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
    }
    .stat-primary {
        height: 3rem;

        font-size: 3rem;
    }
    .stat-secondary {
        height: 1.5rem;

        font-size: 1.5rem;
    }
    .stat-single {
        height: 4rem;

        font-size: 4rem;
    }
}*/

.animecampaign.actor.sheet{
    .new-stat-block {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin: 1rem auto .25rem;
        max-width: 26rem;
    }
    .stat {
        display: flex;
        flex-direction: column;
        margin-bottom: .75rem;
        max-width: 9rem;
        min-width: 6rem;
    }
    .element:nth-child(4n) {
        > .stat-content {
            border-right: 1px solid black;
        }
    }
    .element:nth-child(4n+1) {
        > .stat-create {
            border: 0;
        }
    }
    .stat-label {
        text-align: center;
        height: .75rem;
        width: 100%;
        padding: 0;
        border: 0;
        border-radius: 0;

        font: bold .75rem 'Arial';
        text-transform: uppercase;
        background-color: transparent;
    }
    .stat-content {
        border-left: .25px solid black;
        overflow-x: hidden;

        .stat-single {
            font-size: 2.25rem;
        }
        > * {
            height: 2.25rem;
            width: 100%;
    
            font-family: 'Philosopher';
            text-align: center;
            line-height: 1;
            font-weight: bold;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            background-color: transparent;
        }
    }
    .stat-create {
        display: grid;
        align-items: center;
        margin-top: .75rem;
        padding-left: .1rem;
        height: 2.25rem;
        border-left: .25px solid black;
    }
}