// main: ../animecampaign.less

.animecampaign.item.sheet .sections {
    .section {
        display: grid;
        border: 0;
        padding: 0;
        margin-bottom: .1rem;

        border-bottom: @thin-border;
        border-color: rgba(0, 0, 0, 0.35);
    }
    .section:hover {
        i {
            opacity: 75%;
        }
        .section-hide {
            opacity: 12.5%;
        }
        .section-hide.active {
            opacity: 100%;
        }
    }
    .section-wrapper {
        padding-top: .25rem;
        margin-bottom: .5rem;
    }
    .section-options {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        > * {
            margin: 0 .15rem;
        }
        i {
            opacity: 10%
        }
    }
    .active {
        > i {
            opacity: 75%;
        }
    }
    .section-label {
        .InputSkinning();
        height: .95rem;
        margin: 0 .5rem;
        border-left: @thin-border;
        border-right: @thin-border;
        border-radius: .15rem;
        padding: 0 .3rem;

        font: bold 0.75rem @body-font;
    }
    .section-label::placeholder {
        opacity: 33%;
    }

    .viewer-section {
        border: 0;
        padding: 0;
        margin-bottom: .1rem;

        border: none;
        border-top: @thin-border;
        border-color: rgba(0, 0, 0, 0.35);
    }
    .viewer-label {
        padding-right: .3rem;

        font: bold 0.75rem @body-font;
    }

    textarea {
        resize: none;
        border-color: rgba(0, 0, 0, 0.33);

        font: .8rem @body-font;
    }

    .editor {
        height: fit-content;
        border-radius: .3rem;
        margin-top: .25rem;

        background-color: rgba(255, 255, 255, 0.25)
    }
    .editor.prosemirror {
        min-height: 14rem;
    }
    .editor-container {
        margin: 0;
    }
    .editor-content {
        height: fit-content;
        min-height: 2rem;
        padding: .5rem;
    }

    .add-wrapper {
        display: grid;
        place-items: center;
        width: 85%;
        height: 2rem;
        margin: .5rem auto 0;
        border: 2px dashed rgba(0, 0, 0, 0.66);
        border-radius: .25rem;

        opacity: 50%;
    }
    .add-section > i {
        font: bold .75rem @body-font;
        text-transform: uppercase;
    }
}